{% extends './layout/layout.html' %}

{% block content %}

    <!-- Start Page Wrapper  -->
    <main class="page-wrapper">

        <!-- Start Slider Area  -->
        <div class="slider-activation rn-slick-dot rn-slick-activation dot-light mb--0" data-slick-options='{
            "slidesToShow": 1, 
            "slidesToScroll": 1, 
            "arrows": true, 
            "fade": true,
            "infinite": true,
            "easing": "fade",
            "infinite": true,
            "adaptiveHeight": true,
            "dots": true 
        }'>

            <!-- Start Single Slider  -->
            <div class="slide slide-style-2 d-flex align-items-center justify-content-center bg_image bg_image--17"
                data-black-overlay="8">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="inner text-start">
                                <h1 class="title">Grow business.</h1>
                                <p class="description">There are many variations of passages of Lorem Ipsum
                                    available but the majority have suffered alteration.</p>
                                <div class="slide-btn"><a class="rn-button-style--2 btn_solid"
                                        href="{{ url_for('home.contact') }}">Contact Us</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Slider  -->

            <!-- Start Single Slider  -->
            <div class="slide slide-style-2 d-flex align-items-center justify-content-center bg_image bg_image--18"
                data-black-overlay="8">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="inner text-start">
                                <h1 class="title">Development.</h1>
                                <p class="description">There are many variations of passages of Lorem Ipsum
                                    available but the majority have suffered alteration.</p>
                                <div class="slide-btn"><a class="rn-button-style--2 btn_solid"
                                        href="{{ url_for('home.contact') }}">Contact Us</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Slider  -->

            <!-- Start Single Slider  -->
            <div class="slide slide-style-2 d-flex align-items-center justify-content-center bg_image bg_image--19"
                data-black-overlay="8">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="inner text-start">
                                <h1 class="title">Marketing..</h1>
                                <p class="description">There are many variations of passages of Lorem Ipsum
                                    available but the majority have suffered alteration.</p>
                                <div class="slide-btn"><a class="rn-button-style--2 btn_solid"
                                        href="{{ url_for('home.contact') }}">Contact Us</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Slider  -->

        </div>
        <!-- End Slider Area  -->

        <!-- Start Brand Area -->
        <div class="rn-brand-area bg_color--5 rn-section-gap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="brand-style-2">
                            <li>
                                <img src="/static/images/brand/brand-01.png" alt="Logo Images" />
                            </li>
                            <li>
                                <img src="/static/images/brand/brand-02.png" alt="Logo Images" />
                            </li>
                            <li>
                                <img src="/static/images/brand/brand-03.png" alt="Logo Images" />
                            </li>
                            <li>
                                <img src="/static/images/brand/brand-04.png" alt="Logo Images" />
                            </li>
                            <li>
                                <img src="/static/images/brand/brand-05.png" alt="Logo Images" />
                            </li>
                            <li>
                                <img src="/static/images/brand/brand-06.png" alt="Logo Images" />
                            </li>
                            <li>
                                <img src="/static/images/brand/brand-02.png" alt="Logo Images" />
                            </li>
                            <li>
                                <img src="/static/images/brand/brand-03.png" alt="Logo Images" />
                            </li>
                            <li>
                                <img src="/static/images/brand/brand-04.png" alt="Logo Images" />
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Brand Area -->

        <!-- Start Service Area  -->
        <div class="rn-service-area rn-section-gap bg_color--1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 mb--20 mb_sm--0">
                        <div class="section-title section-title--2 text-center">
                            <h2>Our Service</h2>
                            <p>There are many variations of passages of Lorem Ipsum available, but the
                                majority have suffered alteration.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Start Single Service  -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--30">
                        <div class="single-service service__style--2 bg-color-gray">
                            <a href="{{ url_for('service.serviceDetails') }}">
                                <div class="service">
                                    <div class="icon">
                                        <i data-feather="cast" width="54" height="54"></i>
                                    </div>
                                    <div class="content">
                                        <h3 class="title">Business Stratagy</h3>
                                        <p>I throw myself down among the tall grass by the stream as I lie close to
                                            the earth.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- End Single Service  -->

                    <!-- Start Single Service  -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--30">
                        <div class="single-service service__style--2 bg-color-gray">
                            <a href="{{ url_for('service.serviceDetails') }}">
                                <div class="service">
                                    <div class="icon">
                                        <i data-feather="layers" width="54" height="54"></i>
                                    </div>
                                    <div class="content">
                                        <h3 class="title">Website Development</h3>
                                        <p>I throw myself down among the tall grass by the stream as I lie close to
                                            the earth.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- End Single Service  -->

                    <!-- Start Single Service  -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--30">
                        <div class="single-service service__style--2 bg-color-gray">
                            <a href="{{ url_for('service.serviceDetails') }}">
                                <div class="service">
                                    <div class="icon">
                                        <i data-feather="users" width="54" height="54"></i>
                                    </div>
                                    <div class="content">
                                        <h3 class="title">Marketing & Reporting</h3>
                                        <p>I throw myself down among the tall grass by the stream as I lie close to
                                            the earth.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- End Single Service  -->

                    <!-- Start Single Service  -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--40">
                        <div class="single-service service__style--2 bg-color-gray">
                            <a href="{{ url_for('service.serviceDetails') }}">
                                <div class="service">
                                    <div class="icon">
                                        <i data-feather="monitor" width="54" height="54"></i>
                                    </div>
                                    <div class="content">
                                        <h3 class="title">Mobile Development</h3>
                                        <p>I throw myself down among the tall grass by the stream as I lie close to
                                            the earth.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- End Single Service  -->

                    <!-- Start Single Service  -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--40">
                        <div class="single-service service__style--2 bg-color-gray">
                            <a href="{{ url_for('service.serviceDetails') }}">
                                <div class="service">
                                    <div class="icon">
                                        <i data-feather="camera" width="54" height="54"></i>
                                    </div>
                                    <div class="content">
                                        <h3 class="title">Marketing & Reporting</h3>
                                        <p>I throw myself down among the tall grass by the stream as I lie close to
                                            the earth.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- End Single Service  -->

                    <!-- Start Single Service  -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--40">
                        <div class="single-service service__style--2 bg-color-gray">
                            <a href="{{ url_for('service.serviceDetails') }}">
                                <div class="service">
                                    <div class="icon">
                                        <i data-feather="activity" width="54" height="54"></i>
                                    </div>
                                    <div class="content">
                                        <h3 class="title">Mobile Development</h3>
                                        <p>I throw myself down among the tall grass by the stream as I lie close to
                                            the earth.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- End Single Service  -->

                </div>
            </div>
        </div>
        <!-- Start Service Area  -->

        <!-- Start About Area  -->
        <div class="rn-about-area rn-section-gap bg_color--5">
            <div class="container">
                <div class="row row--35 align-items-center">
                    <div class="col-lg-6">
                        <div class="thumbnail">
                            <img class="w-100" src="/static/images/about/about-4.png" alt="About Images" />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about-inner inner">
                            <div class="section-title text-start">
                                <h2 class="title">Working Process</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim exercitationem
                                    impedit iure quia quo recusandae?</p>
                            </div>
                            <div class="rn-accordion mt--30">
                                <div id="accordion">
                                    <!-- Start Single Card  -->
                                    <div class="rn-card">
                                        <div class="rn-card-header" id="headingOne">
                                            <a href="#" class="btn" data-bs-toggle="collapse"
                                                data-bs-target="#collapseOne" aria-expanded="true"
                                                aria-controls="collapseOne">Your Business Skills But Never Stop
                                                Improving.
                                            </a>
                                        </div>
                                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                            data-bs-parent="#accordion">
                                            <div class="rn-card-body">
                                                Anim pariatur cliche reprehenderit, enim eiusmod high life
                                                accusamus terry richardson ad squid. 3 wolf moon officia aute,
                                                non cupidatat.
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Single Card  -->

                                    <!-- Start Single Card  -->
                                    <div class="rn-card">
                                        <div class="rn-card-header" id="headingTwo">
                                            <a href="#" class="btn collapsed" data-bs-toggle="collapse"
                                                data-bs-target="#collapseTwo" aria-expanded="false"
                                                aria-controls="collapseTwo">Tactics That Can Help Your Business
                                                Grow.
                                            </a>
                                        </div>
                                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                            data-bs-parent="#accordion">
                                            <div class="rn-card-body">
                                                Anim pariatur cliche reprehenderit, enim eiusmod high life
                                                accusamus
                                                terry richardson ad squid. 3 wolf moon officia aute, non
                                                cupidatat.
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Single Card  -->

                                    <!-- Start Single Card  -->
                                    <div class="rn-card">
                                        <div class="rn-card-header" id="headingThree">
                                            <a href="#" class="btn collapsed" data-bs-toggle="collapse"
                                                data-bs-target="#collapseThree" aria-expanded="false"
                                                aria-controls="collapseThree">The Secret of Successful Business.
                                            </a>
                                        </div>
                                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                            data-bs-parent="#accordion">
                                            <div class="rn-card-body">
                                                Anim pariatur cliche reprehenderit, enim eiusmod high life
                                                accusamus
                                                terry richardson ad squid. 3 wolf moon officia aute, non
                                                cupidatat.
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Single Card  -->

                                    <!-- Start Single Card  -->
                                    <div class="rn-card">
                                        <div class="rn-card-header" id="headingFour">
                                            <a href="#" class="btn collapsed" data-bs-toggle="collapse"
                                                data-bs-target="#collapseFour" aria-expanded="false"
                                                aria-controls="collapseFour">How To Start A Business With
                                                Business.
                                            </a>
                                        </div>
                                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                                            data-bs-parent="#accordion">
                                            <div class="rn-card-body">Facilis fugiat hic ipsam iusto laudantium
                                                libero maiores minima molestiae mollitia repellat rerum sunt
                                                ullam voluptates? Perferendis, suscipit.
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Single Card  -->
                                </div>
                            </div>
                            <div class="about-button mt--50">
                                <a class="rn-button-style--2 btn_solid" href="{{ url_for('home.about') }}">See how it works</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End About Area  -->

        <!-- Start About Area  -->
        <div class="rn-about-area rn-section-gap bg_color--1">
            <div class="container">
                <div class="row row--35 align-items-center">
                    <div class="col-lg-6 order-2 order-lg-1">
                        <div class="about-inner inner">
                            <div class="section-title">
                                <h2 class="title">About</h2>
                                <p class="description">There are many variations of passages of Lorem Ipsum
                                    available, but the majority have suffered alteration in some form, by injected
                                    humour, or randomised words which dont look even slightly believable.</p>
                            </div>
                            <div class="mt--30">
                                <h4>Lorem ipsum dolor sit.</h4>
                                <ul class="list-style--1">
                                    <li><i data-feather="check" width="16" height="16"></i>The Philosophy Of
                                        business analytics</li>
                                    <li><i data-feather="check" width="16" height="16"></i>Fast-Track Your business
                                    </li>
                                    <li><i data-feather="check" width="16" height="16"></i>Lies And Damn Lies About
                                        business</li>
                                    <li><i data-feather="check" width="16" height="16"></i>The Ultimate Deal On
                                        business</li>
                                </ul>
                            </div>
                            <div class="mt--30">
                                <h4>Lorem ipsum dolor sit.</h4>
                                <ul class="list-style--1">
                                    <li><i data-feather="check" width="16" height="16"></i>The Philosophy Of
                                        business analytics</li>
                                    <li><i data-feather="check" width="16" height="16"></i>Fast-Track Your business
                                    </li>
                                    <li><i data-feather="check" width="16" height="16"></i>Lies And Damn Lies About
                                        business</li>
                                    <li><i data-feather="check" width="16" height="16"></i>The Ultimate Deal On
                                        business</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2">
                        <div class="thumbnail position-relative">
                            <img class="w-100" src="/static/images/about/about-3.png" alt="About Images" />
                            <a class="video-popup position-top-center theme-color play__btn"
                                href="https://www.youtube.com/watch?v=ZOoVOfieAF8"><span
                                    class="play-icon"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End About Area  -->

        <!-- Start Portfolio Area  -->
        <div class="rn-portfolio-area rn-section-gap bg_color--5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title section-title--2 text-center mb--20">
                            <h2 class="title">Our Project</h2>
                            <p>There are many variations of passages of Lorem Ipsum available, <br /> but the
                                majority have suffered alteration.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Start Single Portfolio  -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--40">
                        <div class="portfolio">
                            <div class="thumbnail-inner">
                                <div class="thumbnail image-1"></div>
                                <div class="bg-blr-image image-1"></div>
                            </div>
                            <div class="content">
                                <div class="inner">
                                    <p>Development</p>
                                    <h4><a href="{{ url_for('pages.portfolioDetails') }}">Getting tickets to the big show</a></h4>
                                    <div class="portfolio-button">
                                        <a class="rn-btn" href="{{ url_for('pages.portfolioDetails') }}">Case Study</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Portfolio  -->

                    <!-- Start Single Portfolio  -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--40">
                        <div class="portfolio">
                            <div class="thumbnail-inner">
                                <div class="thumbnail image-2"></div>
                                <div class="bg-blr-image image-2"></div>
                            </div>
                            <div class="content">
                                <div class="inner">
                                    <p>Development</p>
                                    <h4><a href="{{ url_for('pages.portfolioDetails') }}">Getting tickets to the big show</a></h4>
                                    <div class="portfolio-button">
                                        <a class="rn-btn" href="{{ url_for('pages.portfolioDetails') }}">Case Study</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Portfolio  -->

                    <!-- Start Single Portfolio  -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--40">
                        <div class="portfolio">
                            <div class="thumbnail-inner">
                                <div class="thumbnail image-3"></div>
                                <div class="bg-blr-image image-3"></div>
                            </div>
                            <div class="content">
                                <div class="inner">
                                    <p>Development</p>
                                    <h4><a href="{{ url_for('pages.portfolioDetails') }}">Getting tickets to the big show</a></h4>
                                    <div class="portfolio-button">
                                        <a class="rn-btn" href="{{ url_for('pages.portfolioDetails') }}">Case Study</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Portfolio  -->
                    <!-- Start Single Portfolio  -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--40">
                        <div class="portfolio">
                            <div class="thumbnail-inner">
                                <div class="thumbnail image-4"></div>
                                <div class="bg-blr-image image-4"></div>
                            </div>
                            <div class="content">
                                <div class="inner">
                                    <p>Development</p>
                                    <h4><a href="{{ url_for('pages.portfolioDetails') }}">Getting tickets to the big show</a></h4>
                                    <div class="portfolio-button">
                                        <a class="rn-btn" href="{{ url_for('pages.portfolioDetails') }}">Case Study</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Portfolio  -->

                    <!-- Start Single Portfolio  -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--40">
                        <div class="portfolio">
                            <div class="thumbnail-inner">
                                <div class="thumbnail image-5"></div>
                                <div class="bg-blr-image image-5"></div>
                            </div>
                            <div class="content">
                                <div class="inner">
                                    <p>Development</p>
                                    <h4><a href="{{ url_for('pages.portfolioDetails') }}">Getting tickets to the big show</a></h4>
                                    <div class="portfolio-button">
                                        <a class="rn-btn" href="{{ url_for('pages.portfolioDetails') }}">Case Study</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Portfolio  -->

                    <!-- Start Single Portfolio  -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--40">
                        <div class="portfolio">
                            <div class="thumbnail-inner">
                                <div class="thumbnail image-6"></div>
                                <div class="bg-blr-image image-6"></div>
                            </div>
                            <div class="content">
                                <div class="inner">
                                    <p>Development</p>
                                    <h4><a href="{{ url_for('pages.portfolioDetails') }}">Getting tickets to the big show</a></h4>
                                    <div class="portfolio-button">
                                        <a class="rn-btn" href="{{ url_for('pages.portfolioDetails') }}">Case Study</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Portfolio  -->
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="view-more-btn mt--60 text-center">
                            <a class="rn-button-style--2 btn_solid" href="/portfolio"><span>View More
                                    Project</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Start Portfolio Area  -->

        <!-- Start team Area  -->
        <div class="rn-team-area rn-section-gap bg_color--1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title section-title--2 text-center mb--20">
                            <h2 class="title">Skilled Team</h2>
                            <p>There are many variations of passages of Lorem Ipsum available, <br /> but the
                                majority have suffered alteration.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Start Single Team Area  -->
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="team">
                            <div class="thumbnail">
                                <img src="/static/images/team/team-01.jpg" alt="Team Images" />
                            </div>
                            <div class="content">
                                <h4 class="title">Jone Due</h4>
                                <p class="designation">Sr. Web Developer</p>
                            </div>
                            <ul class="social-icon">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram-square"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Single Team Area  -->

                    <!-- Start Single Team Area  -->
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="team">
                            <div class="thumbnail">
                                <img src="/static/images/team/team-02.jpg" alt="Team Images" />
                            </div>
                            <div class="content">
                                <h4 class="title">Jone Due</h4>
                                <p class="designation">Sr. Web Developer</p>
                            </div>
                            <ul class="social-icon">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram-square"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Single Team Area  -->

                    <!-- Start Single Team Area  -->
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="team">
                            <div class="thumbnail">
                                <img src="/static/images/team/team-03.jpg" alt="Team Images" />
                            </div>
                            <div class="content">
                                <h4 class="title">Jone Due</h4>
                                <p class="designation">Sr. Web Developer</p>
                            </div>
                            <ul class="social-icon">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram-square"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Single Team Area  -->

                    <!-- Start Single Team Area  -->
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="team">
                            <div class="thumbnail">
                                <img src="/static/images/team/team-01.jpg" alt="Team Images" />
                            </div>
                            <div class="content">
                                <h4 class="title">Jone Due</h4>
                                <p class="designation">Sr. Web Developer</p>
                            </div>
                            <ul class="social-icon">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram-square"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Single Team Area  -->

                    <!-- Start Single Team Area  -->
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="team">
                            <div class="thumbnail">
                                <img src="/static/images/team/team-02.jpg" alt="Team Images" />
                            </div>
                            <div class="content">
                                <h4 class="title">Jone Due</h4>
                                <p class="designation">Sr. Web Developer</p>
                            </div>
                            <ul class="social-icon">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram-square"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Single Team Area  -->

                    <!-- Start Single Team Area  -->
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="team">
                            <div class="thumbnail">
                                <img src="/static/images/team/team-03.jpg" alt="Team Images" />
                            </div>
                            <div class="content">
                                <h4 class="title">Jone Due</h4>
                                <p class="designation">Sr. Web Developer</p>
                            </div>
                            <ul class="social-icon">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram-square"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Single Team Area  -->

                </div>
            </div>
        </div>
        <!-- Start team Area  -->

        <!-- Start blog Area  -->
        <div class="rn-blog-area rn-section-gap bg_color--5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title section-title--2 text-center mb--20">
                            <h2 class="title">Latest News</h2>
                            <p>There are many variations of passages of Lorem Ipsum available, <br /> but the
                                majority have suffered alteration.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Start Blog Area  -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="blog blog-style--1">
                            <div class="thumbnail">
                                <a href="{{ url_for('pages.blogDetails') }}">
                                    <img class="w-100" src="/static/images/blog/blog-01.jpg" alt="Blog Images" />
                                </a>
                            </div>
                            <div class="content">
                                <p class="blogtype">Development</p>
                                <h4 class="title"><a href="{{ url_for('pages.blogDetails') }}">Getting tickets to the big show</a>
                                </h4>
                                <div class="blog-btn">
                                    <a class="rn-btn text-white" href="{{ url_for('pages.blogDetails') }}">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Blog Area  -->

                    <!-- Start Blog Area  -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="blog blog-style--1">
                            <div class="thumbnail">
                                <a href="{{ url_for('pages.blogDetails') }}">
                                    <img class="w-100" src="/static/images/blog/blog-02.jpg" alt="Blog Images" />
                                </a>
                            </div>
                            <div class="content">
                                <p class="blogtype">Development</p>
                                <h4 class="title"><a href="{{ url_for('pages.blogDetails') }}">Getting tickets to the big show</a>
                                </h4>
                                <div class="blog-btn">
                                    <a class="rn-btn text-white" href="{{ url_for('pages.blogDetails') }}">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Blog Area  -->

                    <!-- Start Blog Area  -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="blog blog-style--1">
                            <div class="thumbnail">
                                <a href="{{ url_for('pages.blogDetails') }}">
                                    <img class="w-100" src="/static/images/blog/blog-03.jpg" alt="Blog Images" />
                                </a>
                            </div>
                            <div class="content">
                                <p class="blogtype">Development</p>
                                <h4 class="title"><a href="{{ url_for('pages.blogDetails') }}">Getting tickets to the big show</a>
                                </h4>
                                <div class="blog-btn">
                                    <a class="rn-btn text-white" href="{{ url_for('pages.blogDetails') }}">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Blog Area  -->

                    <!-- Start Blog Area  -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="blog blog-style--1">
                            <div class="thumbnail">
                                <a href="{{ url_for('pages.blogDetails') }}">
                                    <img class="w-100" src="/static/images/blog/blog-04.jpg" alt="Blog Images" />
                                </a>
                            </div>
                            <div class="content">
                                <p class="blogtype">Development</p>
                                <h4 class="title"><a href="{{ url_for('pages.blogDetails') }}">Getting tickets to the big show</a>
                                </h4>
                                <div class="blog-btn">
                                    <a class="rn-btn text-white" href="{{ url_for('pages.blogDetails') }}">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Blog Area  -->

                    <!-- Start Blog Area  -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="blog blog-style--1">
                            <div class="thumbnail">
                                <a href="{{ url_for('pages.blogDetails') }}">
                                    <img class="w-100" src="/static/images/blog/blog-01.jpg" alt="Blog Images" />
                                </a>
                            </div>
                            <div class="content">
                                <p class="blogtype">Development</p>
                                <h4 class="title"><a href="{{ url_for('pages.blogDetails') }}">Getting tickets to the big show</a>
                                </h4>
                                <div class="blog-btn">
                                    <a class="rn-btn text-white" href="{{ url_for('pages.blogDetails') }}">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Blog Area  -->

                    <!-- Start Blog Area  -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="blog blog-style--1">
                            <div class="thumbnail">
                                <a href="{{ url_for('pages.blogDetails') }}">
                                    <img class="w-100" src="/static/images/blog/blog-02.jpg" alt="Blog Images" />
                                </a>
                            </div>
                            <div class="content">
                                <p class="blogtype">Development</p>
                                <h4 class="title"><a href="{{ url_for('pages.blogDetails') }}">Getting tickets to the big show</a>
                                </h4>
                                <div class="blog-btn">
                                    <a class="rn-btn text-white" href="{{ url_for('pages.blogDetails') }}">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Blog Area  -->
                </div>
            </div>
        </div>
        <!-- Start blog Area  -->

        <!-- Start Call To Action Area  -->
        <div class="call-to-action-wrapper call-to-action text-white-wrapper  ptb--120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="inner text-center"><span>READY TO DO THIS</span>
                            <h2>Let's get to work</h2><a class="rn-button-style--2"
                                href="{{ url_for('home.contact') }}"><span>Contact
                                    Us</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Call To Action Area  -->

    </main>
    <!-- End Page Wrapper  -->

{% endblock content %}