{% extends './layout/layout.html' %}

{% block content %}

    <!-- Start Breadcrump Area  -->
    <div class="rn-page-title-area pt--120 pb--190 pb_md--100 pb_sm--100 bg_image bg_image--17"
        data-black-overlay="5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="rn-page-title text-center pt--100">
                        <h2 class="title theme-gradient">Cntact With Us</h2>
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrump Area  -->

    <!-- Start Page Wrapper  -->
    <main class="page-wrapper">

        <!-- Start Contact Address Area  -->
        <div class="rn-contact-address-area rn-section-gap bg_color--5">
            <div class="container">
                <div class="row mt_dec--40">
                    <!-- Start Single Address  -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--40">
                        <div class="rn-address">
                            <div class="icon">
                                <i class="fas fa-phone"></i>
                            </div>
                            <div class="inner">
                                <h4 class="title">Contact With Phone Number</h4>
                                <p><a href="tel:+057254365456">+057 254 365 456</a></p>
                                <p><a href="tel:+856325652984">+856 325 652 984</a></p>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Address  -->

                    <!-- Start Single Address  -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--40">
                        <div class="rn-address">
                            <div class="icon">
                                <i class="fas fa-envelope"></i>
                            </div>
                            <div class="inner">
                                <h4 class="title">Email Address</h4>
                                <p><a href="mailto:admin@gmail.com">admin@gmail.com</a></p>
                                <p><a href="mailto:example@gmail.com">example@gmail.com</a></p>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Address  -->

                    <!-- Start Single Address  -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--40">
                        <div class="rn-address">
                            <div class="icon">
                                <i class="fas fa-map-marker-alt"></i>
                            </div>
                            <div class="inner">
                                <h4 class="title">Location</h4>
                                <p>5678 Bangla Main Road, cities 580 <br /> GBnagla, example 54786</p>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Address  -->

                </div>
            </div>
        </div>
        <!-- End Contact Address Area  -->

        <!-- Start Contact Area  -->
        <div class="rn-contact-area rn-section-gap bg_color--1">
            <div class="contact-form--1">
                <div class="container">
                    <div class="row row--35 align-items-start">
                        <div class="col-lg-6 order-2 order-lg-1">
                            <div class="section-title text-start mb--50 mb_sm--30 mb_md--30">
                                <h2 class="title">Contact Us.</h2>
                                <p class="description">I am available for freelance work. Connect with me via phone:
                                    <a href="tel:+8801911111111">01911111111</a> or email:
                                    <a href="mailto:admin@example.com"> admin@example.com</a>
                                </p>
                            </div>
                            <div class="form-wrapper">
                            <form id="contact-form-active" method="POST" action="">
                                 {{ form.hidden_tag() }}
                                 <label>
                                    {{ form.name(class_="form-control", id="item01", placeholder="Your Name *") }}
                                 </label>
                                <label>
                                        {{ form.email(class_="form-control", id="item02", placeholder="Your email *") }}
                                    </label>
                                    <label>
                                        {{ form.subject(class_="form-control", id="item03", placeholder="Write a Subject") }}
                                    </label>
                                    <label>
                                        {{ form.message(class_="form-control", id="item04", placeholder="Your Message") }}
                                    </label>
                                    <button type="submit" class="rn-button-style--2 btn_solid">
                                        <span>Send message</span>
                                    </button>
                                </form>
                                <div class="form-output">
                                    <p class="form-messege-active form-messege"></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 order-1 order-lg-2">
                            <div class="thumbnail mb_md--40 mb_sm--40">
                                <img src="/static/images/about/about-6.jpg" alt="trydo" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Contact Area  -->

        <!-- Start Brand Area -->
        <div class="rn-brand-area brand-separation rn-section-gap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="brand-style-2">
                            <li>
                                <img src="/static/images/brand/brand-01.png" alt="Logo Images" />
                            </li>
                            <li>
                                <img src="/static/images/brand/brand-02.png" alt="Logo Images" />
                            </li>
                            <li>
                                <img src="/static/images/brand/brand-03.png" alt="Logo Images" />
                            </li>
                            <li>
                                <img src="/static/images/brand/brand-04.png" alt="Logo Images" />
                            </li>
                            <li>
                                <img src="/static/images/brand/brand-05.png" alt="Logo Images" />
                            </li>
                            <li>
                                <img src="/static/images/brand/brand-06.png" alt="Logo Images" />
                            </li>
                            <li>
                                <img src="/static/images/brand/brand-02.png" alt="Logo Images" />
                            </li>
                            <li>
                                <img src="/static/images/brand/brand-03.png" alt="Logo Images" />
                            </li>
                            <li>
                                <img src="/static/images/brand/brand-04.png" alt="Logo Images" />
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Brand Area -->
    </main>
    <!-- End Page Wrapper  -->

{% endblock content %}
