{% extends './layout/layout.html' %}

{% block content %}

    <!-- Start Header -->
    <header class="header-area formobile-menu header-not-transparent black-logo-version small-logo color-black">
        <div class="header-wrapper" id="header-wrapper">
            <div class="header-left">
                <div class="logo">
                    <a href="{{ url_for('home.index') }}">
                        <img src="/static/images/logo/logo-symbol-dark.png" alt="Creative Agency Logo">
                    </a>
                </div>
            </div>
            <div class="header-right">
                <div class="mainmenunav d-lg-block">
                    <!-- Start Mainmanu Nav -->
                    <nav class="main-menu-navbar">
                        <ul class="mainmenu">
                            <li class="has-droupdown">
                                <a href="#">Home</a>
                                <ul class="submenu">
                                    <li><a href="{{ url_for('home.mainDemo') }}">Main Demo</a></li>
                                    <li><a href="{{ url_for('home.mainDemoDark') }}">Main Demo Dark</a></li>
                                    <li><a href="{{ url_for('home.creativeAgency') }}">Creative Agency</a></li>
                                    <li><a href="{{ url_for('home.landingCreativeAgency') }}">Creative Agency Landing</a> </li>
                                    <li><a href="{{ url_for('home.personalPortfolio') }}">Personal Portfolio</a></li>
                                    <li><a href="{{ url_for('home.landingPersonalPortfolio02') }}">Personal Portfolio 02</a>
                                    </li>
                                    <li><a href="{{ url_for('home.landingPersonalPortfolio') }}">Personal Portfolio Landing</a>
                                    </li>
                                    <li><a href="{{ url_for('home.designerPortfolio') }}">Designer Portfolio</a></li>
                                    <li><a href="{{ url_for('home.creativePortfolio') }}">Creative Portfolio</a></li>
                                    <li><a href="{{ url_for('home.business') }}">Business</a></li>
                                    <li><a href="{{ url_for('home.digitalAgency') }}">Digital Agency</a></li>
                                    <li><a href="{{ url_for('home.minimalPortfolio') }}">Minimal Portfolio</a></li>
                                    <li><a href="{{ url_for('home.studioAgency') }}">Studio Agency</a></li>
                                    <li><a href="{{ url_for('home.landingHomeParticles') }}">Home Particles</a></li>
                                    <li><a href="{{ url_for('home.startup') }}">Startup</a></li>
                                    <li><a href="{{ url_for('home.paralaxHome') }}">Home Paralax</a></li>
                                    <li><a href="{{ url_for('home.corporateBusiness') }}">Corporate Business</a></li>
                                </ul>
                            </li>
                            <li class="has-droupdown">
                                <a href="{{ url_for('service.service') }}">Service</a>
                                <ul class="submenu">
                                    <li><a href="{{ url_for('service.service') }}">Service</a></li>
                                    <li><a href="{{ url_for('service.serviceDetails') }}">Service Details</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="{{ url_for('home.about') }}">About</a>
                            </li>
                            <li class="has-droupdown">
                                <a href="{{ url_for('pages.blog') }}">Pages</a>
                                <ul class="submenu">
                                    <li> <a href="{{ url_for('pages.blog') }}">Blog List</a></li>
                                    <li><a href="{{ url_for('pages.blogDetails') }}">Blog Details</a></li>
                                    <li><a href="{{ url_for('service.service') }}">Service</a></li>
                                    <li><a href="{{ url_for('service.serviceDetails') }}">Service Details</a></li>
                                    <li><a href="{{ url_for('pages.portfolio') }}">Portfolio</a></li>
                                    <li><a href="{{ url_for('pages.portfolioDetails') }}">Portfolio Details</a></li>
                                    <li><a href="{{ url_for('pages.pageError') }}">404 Page</a></li>
                                </ul>
                            </li>
                            <li class="has-droupdown">
                                <a href="#">Blocks</a>
                                <ul class="submenu">
                                    <li><a href="{{ url_for('pages.portfolio') }}">Portfolio</a></li>
                                    <li><a href="{{ url_for('blocks.team') }}">Team</a></li>
                                    <li><a href="{{ url_for('service.service') }}">Service</a></li>
                                    <li><a href="{{ url_for('blocks.videoPopup') }}">Video Popup</a></li>
                                    <li><a href="{{ url_for('blocks.progressbar') }}">Progress Bar</a></li>
                                    <li><a href="{{ url_for('blocks.gallery') }}">Gallery</a></li>
                                    <li><a href="{{ url_for('blocks.counterup') }}">Counters</a></li>
                                    <li><a href="{{ url_for('pages.blog') }}">Blog List</a></li>
                                    <li><a href="{{ url_for('blocks.brand') }}">Client Logo</a></li>
                                    <li><a href="{{ url_for('blocks.contactForm') }}">Contact Form</a></li>
                                    <li><a href="{{ url_for('blocks.columns') }}">Columns</a></li>
                                    <li><a href="{{ url_for('blocks.button') }}">Button</a></li>
                                    <li><a href="{{ url_for('blocks.liststyle') }}">List Style</a></li>
                                    <li><a href="{{ url_for('blocks.testimonial') }}">Testimonial</a></li>
                                    <li><a href="{{ url_for('blocks.accordion') }}">Accordion</a></li>
                                    <li><a href="{{ url_for('blocks.pricingPlan') }}">Pricing Plan</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="{{ url_for('home.contact') }}">Contact</a>
                            </li>
                        </ul>
                    </nav>
                    <!-- End Mainmanu Nav -->

                </div>
                <div class="header-btn">
                    <a class="rn-btn" href="#">
                        <span>buy now</span>
                    </a>
                </div>
                <!-- Start Humberger Menu  -->
                <div class="humberger-menu d-block d-lg-none pl--20">
                    <span class="menutrigger text-white">
                        <i data-feather="menu"></i>
                    </span>
                </div>
                <!-- End Humberger Menu  -->
                <!-- Start Close Menu  -->
                <div class="close-menu d-block d-lg-none">
                    <span class="closeTrigger">
                        <i data-feather="x"></i>
                    </span>
                </div>
                <!-- End Close Menu  -->
            </div>
        </div>
    </header>
    <!-- Start Page Wrapper  -->

    <main class="page-wrapper">
        <!-- Start Slider Area  -->
        <div class="slider-wrapper">
            <div
                class="slide designer-portfolio slider-style-3  d-flex align-items-center justify-content-center bg_color--5 rn-slider-height">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-5">
                            <div class="designer-thumbnail"><img src="/static/images/about/designer-avatar.png"
                                    alt="Slider Images"></div>
                        </div>
                        <div class="col-lg-7 mt_md--40 mt_sm--40">
                            <div class="inner text-start"><span>Welcome to my World</span>
                                <h1 class="title">Hi, I’m Jone Doe <br>
                                    <span> UX Designer.</span>
                                </h1>
                                <h2>based in USA.</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Slider Area  -->

        <!-- Start Gallery Area  -->
        <div class="rn-gallery-area rn-section-gap bg_color--1 position-relative">
            <div class="rn-masonary-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="messonry-button pv-tab-button text-center">
                            <button data-filter="*" class="is-checked"><span class="filter-text">All
                                    Project</span></button>
                            <button data-filter=".cat--1"><span class="filter-text">Web Design</span></button>
                            <button data-filter=".cat--2"><span class="filter-text">Logo Design</span></button>
                            <button data-filter=".cat--3"><span class="filter-text">Mobile App</span></button>
                        </div>
                    </div>
                </div>
                <div class="wrapper plr--70 plr_sm--30 plr_md--30">
                    <div class="gallery-wrapper gallery-grid mesonry-list grid-metro3" id="animated-thumbnials">

                        <!-- Start Single Gallery -->
                        <a class="item-portfolio-static gallery masonry_item portfolio-33-33 cat--1"
                            href="/static/images/portfolio/big/dp-big--portfolio-01.jpg">
                            <div class="portfolio-static">
                                <div class="thumbnail-inner">
                                    <div class="thumbnail">
                                        <img src="/static/images/portfolio/dp-portfolio-01.jpg"
                                            alt="Portfolio Images">
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="inner">
                                        <p>Web Design</p>
                                        <h4>T-shirt design is the part of design</h4>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <!-- End Single Gallery -->

                        <!-- Start Single Gallery -->
                        <a class="item-portfolio-static gallery masonry_item portfolio-33-33 cat--2 cat--3"
                            href="/static/images/portfolio/big/dp-big--portfolio-02.jpg">
                            <div class="portfolio-static">
                                <div class="thumbnail-inner">
                                    <div class="thumbnail">
                                        <img src="/static/images/portfolio/dp-portfolio-02.jpg"
                                            alt="Portfolio Images">
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="inner">
                                        <p>App Development</p>
                                        <h4>The service provide for designer</h4>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <!-- End Single Gallery -->

                        <!-- Start Single Gallery -->
                        <a class="item-portfolio-static gallery masonry_item portfolio-33-33 cat--3 cat--1"
                            href="/static/images/portfolio/big/dp-big--portfolio-03.jpg">
                            <div class="portfolio-static">
                                <div class="thumbnail-inner">
                                    <div class="thumbnail">
                                        <img src="/static/images/portfolio/dp-portfolio-03.jpg"
                                            alt="Portfolio Images">
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="inner">
                                        <p>Web Design</p>
                                        <h4>Mobile App landing Design</h4>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <!-- End Single Gallery -->

                        <!-- Start Single Gallery -->
                        <a class="item-portfolio-static gallery masonry_item portfolio-33-33 cat--3 cat--1"
                            href="/static/images/portfolio/big/dp-big--portfolio-04.jpg">
                            <div class="portfolio-static">
                                <div class="thumbnail-inner">
                                    <div class="thumbnail">
                                        <img src="/static/images/portfolio/dp-portfolio-04.jpg"
                                            alt="Portfolio Images">
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="inner">
                                        <p>Web Design</p>
                                        <h4>Logo Design creativity</h4>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <!-- End Single Gallery -->

                        <!-- Start Single Gallery -->
                        <a class="item-portfolio-static gallery masonry_item portfolio-33-33 cat--1 cat--2"
                            href="/static/images/portfolio/big/dp-big--portfolio-05.jpg">
                            <div class="portfolio-static">
                                <div class="thumbnail-inner">
                                    <div class="thumbnail">
                                        <img src="/static/images/portfolio/dp-portfolio-05.jpg"
                                            alt="Portfolio Images">
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="inner">
                                        <p>Web Design</p>
                                        <h4>Getting tickets to the big show</h4>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <!-- End Single Gallery -->

                        <!-- Start Single Gallery -->
                        <a class="item-portfolio-static gallery masonry_item portfolio-33-33 cat--1 cat--2"
                            href="/static/images/portfolio/big/dp-big--portfolio-06.jpg">
                            <div class="portfolio-static">
                                <div class="thumbnail-inner">
                                    <div class="thumbnail">
                                        <img src="/static/images/portfolio/dp-portfolio-06.jpg"
                                            alt="Portfolio Images">
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="inner">
                                        <p>Web Design</p>
                                        <h4>T-shirt design is the part of design</h4>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <!-- End Single Gallery -->

                    </div>
                </div>
            </div>
        </div>
        <!-- End Gallery Area  -->
    </main>
    <!-- End Page Wrapper  -->

{% endblock content %}