{% extends './layout/layout.html' %}

{% block content %}

    <!-- Start Page Wrapper  -->
    <main class="page-wrapper">

        <!-- Start Slider Area  -->
        <div class="rn-slider-area">
            <div class="slide slide-style-2 slider-paralax paralx-slider parallax d-flex align-items-center justify-content-center"
                style="background-image:url('/static/images/bg/bg-image-24.jpg')" ; data-black-overlay="6"
                data-stellar-background-ratio="0.5">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="inner text-center">
                                <h1 class="title theme-gradient">Minimal</h1>
                                <p class="description">There are many variations of passages of Lorem Ipsum
                                    available but the majority have suffered alteration.</p>
                                <div class="slide-btn">
                                    <a class="rn-button-style--2 btn-primary-color" href="{{ url_for('home.contact') }}">Contact
                                        Us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Slider Area  -->

        <!-- Start Portfolio Area  -->
        <div class="rn-portfolio-area rn-section-gap bg_color--1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title section-title--2  text-center mb--20">
                            <h2 class="title">Our Portfolio</h2>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                                suffered alteration.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrapper plr--30">
                <div class="row">
                    <!-- Start Single Portfolio  -->
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12 portfolio-tilthover">
                        <div class="Tilt-inner">
                            <div class="portfolio">
                                <div class="thumbnail-inner">
                                    <div class="thumbnail image-1"></div>
                                    <div class="bg-blr-image image-1"></div>
                                </div>
                                <div class="content">
                                    <div class="inner">
                                        <p>Development</p>
                                        <h4><a href="{{ url_for('pages.portfolioDetails') }}">Getting tickets to the big show</a>
                                        </h4>
                                        <div class="portfolio-button">
                                            <a class="rn-btn" href="{{ url_for('pages.portfolioDetails') }}">Case Study</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Portfolio  -->

                    <!-- Start Single Portfolio  -->
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12 portfolio-tilthover">
                        <div class="Tilt-inner">
                            <div class="portfolio">
                                <div class="thumbnail-inner">
                                    <div class="thumbnail image-2"></div>
                                    <div class="bg-blr-image image-2"></div>
                                </div>
                                <div class="content">
                                    <div class="inner">
                                        <p>Development</p>
                                        <h4><a href="{{ url_for('pages.portfolioDetails') }}">Getting tickets to the big show</a>
                                        </h4>
                                        <div class="portfolio-button">
                                            <a class="rn-btn" href="{{ url_for('pages.portfolioDetails') }}">Case Study</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Portfolio  -->

                    <!-- Start Single Portfolio  -->
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12 portfolio-tilthover">
                        <div class="Tilt-inner">
                            <div class="portfolio">
                                <div class="thumbnail-inner">
                                    <div class="thumbnail image-3"></div>
                                    <div class="bg-blr-image image-3"></div>
                                </div>
                                <div class="content">
                                    <div class="inner">
                                        <p>Development</p>
                                        <h4><a href="{{ url_for('pages.portfolioDetails') }}">Getting tickets to the big show</a>
                                        </h4>
                                        <div class="portfolio-button">
                                            <a class="rn-btn" href="{{ url_for('pages.portfolioDetails') }}">Case Study</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Portfolio  -->
                    <!-- Start Single Portfolio  -->
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12 portfolio-tilthover">
                        <div class="Tilt-inner">
                            <div class="portfolio">
                                <div class="thumbnail-inner">
                                    <div class="thumbnail image-4"></div>
                                    <div class="bg-blr-image image-4"></div>
                                </div>
                                <div class="content">
                                    <div class="inner">
                                        <p>Development</p>
                                        <h4><a href="{{ url_for('pages.portfolioDetails') }}">Getting tickets to the big show</a>
                                        </h4>
                                        <div class="portfolio-button">
                                            <a class="rn-btn" href="{{ url_for('pages.portfolioDetails') }}">Case Study</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Portfolio  -->

                    <!-- Start Single Portfolio  -->
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12 portfolio-tilthover">
                        <div class="Tilt-inner">
                            <div class="portfolio">
                                <div class="thumbnail-inner">
                                    <div class="thumbnail image-5"></div>
                                    <div class="bg-blr-image image-5"></div>
                                </div>
                                <div class="content">
                                    <div class="inner">
                                        <p>Development</p>
                                        <h4><a href="{{ url_for('pages.portfolioDetails') }}">Getting tickets to the big show</a>
                                        </h4>
                                        <div class="portfolio-button">
                                            <a class="rn-btn" href="{{ url_for('pages.portfolioDetails') }}">Case Study</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Portfolio  -->

                    <!-- Start Single Portfolio  -->
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12 portfolio-tilthover">
                        <div class="Tilt-inner">
                            <div class="portfolio">
                                <div class="thumbnail-inner">
                                    <div class="thumbnail image-6"></div>
                                    <div class="bg-blr-image image-6"></div>
                                </div>
                                <div class="content">
                                    <div class="inner">
                                        <p>Development</p>
                                        <h4><a href="{{ url_for('pages.portfolioDetails') }}">Getting tickets to the big show</a>
                                        </h4>
                                        <div class="portfolio-button">
                                            <a class="rn-btn" href="{{ url_for('pages.portfolioDetails') }}">Case Study</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Portfolio  -->

                    <!-- Start Single Portfolio  -->
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12 portfolio-tilthover">
                        <div class="Tilt-inner">
                            <div class="portfolio">
                                <div class="thumbnail-inner">
                                    <div class="thumbnail image-7"></div>
                                    <div class="bg-blr-image image-7"></div>
                                </div>
                                <div class="content">
                                    <div class="inner">
                                        <p>Development</p>
                                        <h4><a href="{{ url_for('pages.portfolioDetails') }}">Getting tickets to the big show</a>
                                        </h4>
                                        <div class="portfolio-button">
                                            <a class="rn-btn" href="{{ url_for('pages.portfolioDetails') }}">Case Study</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Portfolio  -->

                    <!-- Start Single Portfolio  -->
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12 portfolio-tilthover">
                        <div class="Tilt-inner">
                            <div class="portfolio">
                                <div class="thumbnail-inner">
                                    <div class="thumbnail image-8"></div>
                                    <div class="bg-blr-image image-8"></div>
                                </div>
                                <div class="content">
                                    <div class="inner">
                                        <p>Development</p>
                                        <h4><a href="{{ url_for('pages.portfolioDetails') }}">Getting tickets to the big show</a>
                                        </h4>
                                        <div class="portfolio-button">
                                            <a class="rn-btn" href="{{ url_for('pages.portfolioDetails') }}">Case Study</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Portfolio  -->
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="view-more-btn mt--60 text-center">
                            <a class="rn-button-style--2 btn_solid" href="{{ url_for('pages.portfolio') }}"><span>View More
                                    Project</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Portfolio Area  -->

        <!-- Start Brand Area  -->
        <div class="rn-brand-area rn-section-gap bg_color--5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title section-title--2 text-center mb--30">
                            <h2 class="title">Our Clients</h2>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                                suffered alteration.</p>
                        </div>
                    </div>
                </div>
                <div class="row mt--30">
                    <div class="col-lg-12">
                        <ul class="brand-style">
                            <li>
                                <img src="/static/images/brand/brand-01.png" alt="Logo Images" />
                            </li>
                            <li>
                                <img src="/static/images/brand/brand-02.png" alt="Logo Images" />
                            </li>
                            <li>
                                <img src="/static/images/brand/brand-03.png" alt="Logo Images" />
                            </li>
                            <li>
                                <img src="/static/images/brand/brand-04.png" alt="Logo Images" />
                            </li>
                            <li>
                                <img src="/static/images/brand/brand-05.png" alt="Logo Images" />
                            </li>
                            <li>
                                <img src="/static/images/brand/brand-06.png" alt="Logo Images" />
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Brand Area  -->


    </main>
    <!-- End Page Wrapper  -->

{% endblock content %}