{% extends './layout/layout.html' %}

{% block content %}

    <!-- Start Page Wrapper  -->
    <main class="page-wrapper">
        <!-- Start Slider Area  -->
        <div class="rn-slider-area ">
            <div class="slide slide-style-2 slider-paralax d-flex align-items-center justify-content-center paralx-slider parallax"
                data-stellar-background-ratio="0.5"
                style="background-image:url('/static/images/bg/bg-image-11.jpg')">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="inner text-center">
                                <h1 class="title theme-gradient">Marketing</h1>
                                <p class="description">There are many variations of passages of Lorem Ipsum
                                    available but the majority have suffered alteration.</p>
                                <div class="slide-btn">
                                    <a class="rn-button-style--2 btn_solid" href="{{ url_for('home.contact') }}">Contact Us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Slider Area  -->

        <!-- Start Service Area  -->
        <div class="rn-service-area rn-section-gap parallax" data-stellar-background-ratio="0.5"
            style="background-image:url('/static/images/bg/paralax/bg-image-2.jpg')">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title section-title--2 text-center text-white mb--30 mb_sm--0">
                            <h2 class="title">Our Service</h2>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                                suffered alteration.</p>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <!-- Start Single Service  -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--30">
                        <div class="single-service service__style--2 bg-color-white">
                            <a href="{{ url_for('service.serviceDetails') }}">
                                <div class="service">
                                    <div class="icon">
                                        <i data-feather="cast"></i>
                                    </div>
                                    <div class="content">
                                        <h3 class="title">Business Stratagy</h3>
                                        <p>I throw myself down among the tall grass by the stream as I lie close to
                                            the earth.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- End Single Service  -->

                    <!-- Start Single Service  -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--30">
                        <div class="single-service service__style--2 bg-color-white">
                            <a href="{{ url_for('service.serviceDetails') }}">
                                <div class="service">
                                    <div class="icon">
                                        <i data-feather="layers"></i>
                                    </div>
                                    <div class="content">
                                        <h3 class="title">Website Development</h3>
                                        <p>I throw myself down among the tall grass by the stream as I lie close to
                                            the earth.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- End Single Service  -->

                    <!-- Start Single Service  -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--30">
                        <div class="single-service service__style--2 bg-color-white">
                            <a href="{{ url_for('service.serviceDetails') }}">
                                <div class="service">
                                    <div class="icon">
                                        <i data-feather="users"></i>
                                    </div>
                                    <div class="content">
                                        <h3 class="title">Marketing & Reporting</h3>
                                        <p>I throw myself down among the tall grass by the stream as I lie close to
                                            the earth.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- End Single Service  -->

                    <!-- Start Single Service  -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--30">
                        <div class="single-service service__style--2 bg-color-white">
                            <a href="{{ url_for('service.serviceDetails') }}">
                                <div class="service">
                                    <div class="icon">
                                        <i data-feather="monitor"></i>
                                    </div>
                                    <div class="content">
                                        <h3 class="title">Mobile Development</h3>
                                        <p>I throw myself down among the tall grass by the stream as I lie close to
                                            the earth.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- End Single Service  -->

                    <!-- Start Single Service  -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--30">
                        <div class="single-service service__style--2 bg-color-white">
                            <a href="{{ url_for('service.serviceDetails') }}">
                                <div class="service">
                                    <div class="icon">
                                        <i data-feather="camera"></i>
                                    </div>
                                    <div class="content">
                                        <h3 class="title">Marketing & Reporting</h3>
                                        <p>I throw myself down among the tall grass by the stream as I lie close to
                                            the earth.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- End Single Service  -->

                    <!-- Start Single Service  -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--30">
                        <div class="single-service service__style--2 bg-color-white">
                            <a href="{{ url_for('service.serviceDetails') }}">
                                <div class="service">
                                    <div class="icon">
                                        <i data-feather="activity"></i>
                                    </div>
                                    <div class="content">
                                        <h3 class="title">Mobile Development</h3>
                                        <p>I throw myself down among the tall grass by the stream as I lie close to
                                            the earth.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- End Single Service  -->
                </div>



            </div>
        </div>
        <!-- End Service Area  -->


        <!-- Start Portfolio Area  -->
        <div class="rn-portfolio-area rn-section-gap parallax" data-stellar-background-ratio="0.5"
            style="background-image:url('/static/images/bg/paralax/bg-image-3.jpg')">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title section-title--2 text-center text-white mb--15 mb_sm--0">
                            <h2 class="title">Our Works</h2>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                                suffered alteration.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Start Single Portfolio  -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--40">
                        <div class="portfolio">
                            <div class="thumbnail-inner">
                                <div class="thumbnail image-1"></div>
                                <div class="bg-blr-image image-1"></div>
                            </div>
                            <div class="content">
                                <div class="inner">
                                    <p>Development</p>
                                    <h4><a href="{{ url_for('pages.portfolioDetails') }}">Getting tickets to the big show</a></h4>
                                    <div class="portfolio-button">
                                        <a class="rn-btn" href="{{ url_for('pages.portfolioDetails') }}">Case Study</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Portfolio  -->

                    <!-- Start Single Portfolio  -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--40">
                        <div class="portfolio">
                            <div class="thumbnail-inner">
                                <div class="thumbnail image-2"></div>
                                <div class="bg-blr-image image-2"></div>
                            </div>
                            <div class="content">
                                <div class="inner">
                                    <p>Development</p>
                                    <h4><a href="{{ url_for('pages.portfolioDetails') }}">Getting tickets to the big show</a></h4>
                                    <div class="portfolio-button">
                                        <a class="rn-btn" href="{{ url_for('pages.portfolioDetails') }}">Case Study</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Portfolio  -->

                    <!-- Start Single Portfolio  -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--40">
                        <div class="portfolio">
                            <div class="thumbnail-inner">
                                <div class="thumbnail image-3"></div>
                                <div class="bg-blr-image image-3"></div>
                            </div>
                            <div class="content">
                                <div class="inner">
                                    <p>Development</p>
                                    <h4><a href="{{ url_for('pages.portfolioDetails') }}">Getting tickets to the big show</a></h4>
                                    <div class="portfolio-button">
                                        <a class="rn-btn" href="{{ url_for('pages.portfolioDetails') }}">Case Study</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Portfolio  -->
                </div>
            </div>
        </div>
        <!-- End Portfolio Area  -->

        <!-- Start Counterup Area  -->
        <div class="rn-counterup-area rn-section-gap parallax" data-stellar-background-ratio="0.5"
            style="background-image:url('/static/images/bg/paralax/bg-image-6.jpg')">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title section-title--2 text-center text-white mb--15 mb_sm--0">
                            <h3 class="title">Our Fun Facts</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Start Single Funfact  -->
                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                        <div class="rn-counterup counterup_style--1 text-white">
                            <h5 class="counter count">992</h5>
                            <p class="description text-white">The standard chunk of Lorem Ipsum used since the 1500s
                                is reproduced below for those.</p>
                        </div>
                    </div>
                    <!-- End Single Funfact  -->

                    <!-- Start Single Funfact  -->
                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                        <div class="rn-counterup counterup_style--1 text-white">
                            <h5 class="counter count">992</h5>
                            <p class="description text-white">The standard chunk of Lorem Ipsum used since the 1500s
                                is reproduced below for those.</p>
                        </div>
                    </div>
                    <!-- End Single Funfact  -->

                    <!-- Start Single Funfact  -->
                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                        <div class="rn-counterup counterup_style--1 text-white">
                            <h5 class="counter count">992</h5>
                            <p class="description text-white">The standard chunk of Lorem Ipsum used since the 1500s
                                is reproduced below for those.</p>
                        </div>
                    </div>
                    <!-- End Single Funfact  -->

                </div>
            </div>
        </div>
        <!-- End Counterup Area  -->

        <!-- Start Testimonial Area  -->
        <div class="rn-testimonial-area rn-section-gap rn-paralax-testimonial rn-testimonial-light parallax"
            data-stellar-background-ratio="0.5" data-black-overlay="6"
            style="background-image:url('/static/images/bg/paralax/bg-image-7.jpg')">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Start Tab Content  -->
                        <div class="rn-testimonial-content tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="tab1" role="tabpanel"
                                aria-labelledby="tab1-tab">
                                <div class="inner">
                                    <p>Aklima The standard chunk of Lorem Ipsum used since the 1500s is reproduced
                                        below for those interested. Sections Bonorum et Malorum original.</p>
                                </div>
                                <div class="author-info">
                                    <h6><span>Fatima Asrafy </span> - COO, AMERIMAR ENTERPRISES, INC.</h6>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
                                <div class="inner">
                                    <p>Aklima The standard chunk of Lorem Ipsum used since the 1500s is reproduced
                                        below for those interested. Sections Bonorum et Malorum original.</p>
                                </div>
                                <div class="author-info">
                                    <h6><span>Fatima Asrafy </span> - COO, AMERIMAR ENTERPRISES, INC.</h6>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
                                <div class="inner">
                                    <p>Aklima The standard chunk of Lorem Ipsum used since the 1500s is reproduced
                                        below for those interested. Sections Bonorum et Malorum original.</p>
                                </div>
                                <div class="author-info">
                                    <h6><span>Fatima Asrafy </span> - COO, AMERIMAR ENTERPRISES, INC.</h6>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab4" role="tabpanel" aria-labelledby="tab4-tab">
                                <div class="inner">
                                    <p>Aklima The standard chunk of Lorem Ipsum used since the 1500s is reproduced
                                        below for those interested. Sections Bonorum et Malorum original.</p>
                                </div>
                                <div class="author-info">
                                    <h6><span>Fatima Asrafy </span> - COO, AMERIMAR ENTERPRISES, INC.</h6>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab5" role="tabpanel" aria-labelledby="tab5-tab">
                                <div class="inner">
                                    <p>Aklima The standard chunk of Lorem Ipsum used since the 1500s is reproduced
                                        below for those interested. Sections Bonorum et Malorum original.</p>
                                </div>
                                <div class="author-info">
                                    <h6><span>Fatima Asrafy </span> - COO, AMERIMAR ENTERPRISES, INC.</h6>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab6" role="tabpanel" aria-labelledby="tab6-tab">
                                <div class="inner">
                                    <p>Aklima The standard chunk of Lorem Ipsum used since the 1500s is reproduced
                                        below for those interested. Sections Bonorum et Malorum original.</p>
                                </div>
                                <div class="author-info">
                                    <h6><span>Fatima Asrafy </span> - COO, AMERIMAR ENTERPRISES, INC.</h6>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab7" role="tabpanel" aria-labelledby="tab7-tab">
                                <div class="inner">
                                    <p>Aklima The standard chunk of Lorem Ipsum used since the 1500s is reproduced
                                        below for those interested. Sections Bonorum et Malorum original.</p>
                                </div>
                                <div class="author-info">
                                    <h6><span>Fatima Asrafy </span> - COO, AMERIMAR ENTERPRISES, INC.</h6>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab8" role="tabpanel" aria-labelledby="tab8-tab">
                                <div class="inner">
                                    <p>Aklima The standard chunk of Lorem Ipsum used since the 1500s is reproduced
                                        below for those interested. Sections Bonorum et Malorum original.</p>
                                </div>
                                <div class="author-info">
                                    <h6><span>Fatima Asrafy </span> - COO, AMERIMAR ENTERPRISES, INC.</h6>
                                </div>
                            </div>
                        </div>
                        <!-- End Tab Content  -->

                        <!-- Start Tab Nav  -->
                        <ul class="testimonial-thumb-wrapper nav nav-tabs" id="myTab" role="tablist">
                            <li>
                                <button class="active" id="tab1-tab" data-bs-toggle="tab" data-bs-target="#tab1"
                                    role="tab" type="button" aria-controls="tab1" aria-selected="true">
                                    <div class="testimonial-thumbnai">
                                        <div class="thumb">
                                            <img src="/static/images/client/testimonial-1.jpg"
                                                alt="Testimonial Images">
                                        </div>
                                    </div>
                                </button>
                            </li>

                            <li>
                                <button id="tab2-tab" data-bs-toggle="tab" data-bs-target="#tab2" role="tab"
                                    type="button" aria-controls="tab2" aria-selected="false">
                                    <div class="testimonial-thumbnai">
                                        <div class="thumb">
                                            <img src="/static/images/client/testimonial-2.jpg"
                                                alt="Testimonial Images">
                                        </div>
                                    </div>
                                </button>
                            </li>

                            <li>
                                <button id="tab3-tab" data-bs-toggle="tab" data-bs-target="#tab3" role="tab"
                                    type="button" aria-controls="tab3" aria-selected="false">
                                    <div class="testimonial-thumbnai">
                                        <div class="thumb">
                                            <img src="/static/images/client/testimonial-3.jpg"
                                                alt="Testimonial Images">
                                        </div>
                                    </div>
                                </button>
                            </li>

                            <li>
                                <button id="tab4-tab" data-bs-toggle="tab" data-bs-target="#tab4" role="tab"
                                    type="button" aria-controls="tab4" aria-selected="false">
                                    <div class="testimonial-thumbnai">
                                        <div class="thumb">
                                            <img src="/static/images/client/testimonial-4.jpg"
                                                alt="Testimonial Images">
                                        </div>
                                    </div>
                                </button>
                            </li>

                            <li>
                                <button id="tab5-tab" data-bs-toggle="tab" data-bs-target="#tab5" role="tab"
                                    type="button" aria-controls="tab5" aria-selected="false">
                                    <div class="testimonial-thumbnai">
                                        <div class="thumb">
                                            <img src="/static/images/client/testimonial-5.jpg"
                                                alt="Testimonial Images">
                                        </div>
                                    </div>
                                </button>
                            </li>

                            <li>
                                <button id="tab6-tab" data-bs-toggle="tab" data-bs-target="#tab6" role="tab"
                                    type="button" aria-controls="tab6" aria-selected="false">
                                    <div class="testimonial-thumbnai">
                                        <div class="thumb">
                                            <img src="/static/images/client/testimonial-6.jpg"
                                                alt="Testimonial Images">
                                        </div>
                                    </div>
                                </button>
                            </li>

                            <li>
                                <button id="tab7-tab" data-bs-toggle="tab" data-bs-target="#tab7" role="tab"
                                    type="button" aria-controls="tab7" aria-selected="false">
                                    <div class="testimonial-thumbnai">
                                        <div class="thumb">
                                            <img src="/static/images/client/testimonial-7.jpg"
                                                alt="Testimonial Images">
                                        </div>
                                    </div>
                                </button>
                            </li>

                            <li>
                                <button id="tab8-tab" data-bs-toggle="tab" data-bs-target="#tab8" role="tab"
                                    type="button" aria-controls="tab8" aria-selected="false">
                                    <div class="testimonial-thumbnai">
                                        <div class="thumb">
                                            <img src="/static/images/client/testimonial-8.jpg"
                                                alt="Testimonial Images">
                                        </div>
                                    </div>
                                </button>
                            </li>
                        </ul>
                        <!-- End Tab Content  -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Testimonial Area  -->

        <!-- Start Blog Area  -->
        <div class="rn-blog-area rn-section-gap parallax" data-stellar-background-ratio="0.5"
            style="background-image:url('/static/images/bg/paralax/bg-image-8.jpg')" data-black-overlay="6">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title section-title--2 text-center text-white mb--15 mb_sm--0">
                            <h2 class="title">Latest News</h2>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                                suffered alteration.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- Start Blog Area  -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="blog blog-style--1">
                            <div class="thumbnail">
                                <a href="{{ url_for('pages.blogDetails') }}">
                                    <img class="w-100" src="/static/images/blog/blog-01.jpg" alt="Blog Images" />
                                </a>
                            </div>
                            <div class="content">
                                <p class="blogtype">Development</p>
                                <h4 class="title"><a href="{{ url_for('pages.blogDetails') }}">Getting tickets to the big show</a>
                                </h4>
                                <div class="blog-btn">
                                    <a class="rn-btn text-white" href="{{ url_for('pages.blogDetails') }}">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Blog Area  -->

                    <!-- Start Blog Area  -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="blog blog-style--1">
                            <div class="thumbnail">
                                <a href="{{ url_for('pages.blogDetails') }}">
                                    <img class="w-100" src="/static/images/blog/blog-02.jpg" alt="Blog Images" />
                                </a>
                            </div>
                            <div class="content">
                                <p class="blogtype">Development</p>
                                <h4 class="title"><a href="{{ url_for('pages.blogDetails') }}">Getting tickets to the big show</a>
                                </h4>
                                <div class="blog-btn">
                                    <a class="rn-btn text-white" href="{{ url_for('pages.blogDetails') }}">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Blog Area  -->

                    <!-- Start Blog Area  -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="blog blog-style--1">
                            <div class="thumbnail">
                                <a href="{{ url_for('pages.blogDetails') }}">
                                    <img class="w-100" src="/static/images/blog/blog-03.jpg" alt="Blog Images" />
                                </a>
                            </div>
                            <div class="content">
                                <p class="blogtype">Development</p>
                                <h4 class="title"><a href="{{ url_for('pages.blogDetails') }}">Getting tickets to the big show</a>
                                </h4>
                                <div class="blog-btn">
                                    <a class="rn-btn text-white" href="{{ url_for('pages.blogDetails') }}">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Blog Area  -->
                </div>
            </div>
        </div>
        <!-- End Blog Area  -->

        <!-- Start Brand Area  -->
        <div class="rn-brand-area brand-separation parallax" data-stellar-background-ratio="0.5"
            style="background-image:url('/static/images/bg/paralax/bg-image-4.jpg')">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="brand-style-2">
                            <li>
                                <img src="/static/images/brand/brand-01.png" alt="Logo Images" />
                            </li>
                            <li>
                                <img src="/static/images/brand/brand-02.png" alt="Logo Images" />
                            </li>
                            <li>
                                <img src="/static/images/brand/brand-03.png" alt="Logo Images" />
                            </li>
                            <li>
                                <img src="/static/images/brand/brand-04.png" alt="Logo Images" />
                            </li>
                            <li>
                                <img src="/static/images/brand/brand-05.png" alt="Logo Images" />
                            </li>
                            <li>
                                <img src="/static/images/brand/brand-06.png" alt="Logo Images" />
                            </li>
                            <li>
                                <img src="/static/images/brand/brand-02.png" alt="Logo Images" />
                            </li>
                            <li>
                                <img src="/static/images/brand/brand-03.png" alt="Logo Images" />
                            </li>
                            <li>
                                <img src="/static/images/brand/brand-04.png" alt="Logo Images" />
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Brand Area  -->









    </main>
    <!-- End Page Wrapper  -->

{% endblock content %}