
{% extends './layout/layout.html' %}

{% block content %}

    <main class="page-wrapper">
        <!-- Start blog Area  -->
        <div class="rn-blog-area rn-section-gap bg_color--1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title section-title--2 text-center">
                            <h2 class="title">Latest News</h2>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                                suffered alteration.</p>
                        </div>
                    </div>
                </div>
                <div class="row mt--20">
                    <!-- Start Blog Area  -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="blog blog-style--1">
                            <div class="thumbnail">
                                <a href="{{ url_for('pages.blogDetails') }}">
                                    <img class="w-100" src="/static/images/blog/blog-01.jpg" alt="Blog Images" />
                                </a>
                            </div>
                            <div class="content">
                                <p class="blogtype">Development</p>
                                <h4 class="title"><a href="{{ url_for('pages.blogDetails') }}">Getting tickets to the big show</a>
                                </h4>
                                <div class="blog-btn">
                                    <a class="rn-btn text-white" href="{{ url_for('pages.blogDetails') }}">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Blog Area  -->

                    <!-- Start Blog Area  -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="blog blog-style--1">
                            <div class="thumbnail">
                                <a href="{{ url_for('pages.blogDetails') }}">
                                    <img class="w-100" src="/static/images/blog/blog-02.jpg" alt="Blog Images" />
                                </a>
                            </div>
                            <div class="content">
                                <p class="blogtype">Development</p>
                                <h4 class="title"><a href="{{ url_for('pages.blogDetails') }}">Getting tickets to the big show</a>
                                </h4>
                                <div class="blog-btn">
                                    <a class="rn-btn text-white" href="{{ url_for('pages.blogDetails') }}">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Blog Area  -->

                    <!-- Start Blog Area  -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="blog blog-style--1">
                            <div class="thumbnail">
                                <a href="{{ url_for('pages.blogDetails') }}">
                                    <img class="w-100" src="/static/images/blog/blog-03.jpg" alt="Blog Images" />
                                </a>
                            </div>
                            <div class="content">
                                <p class="blogtype">Development</p>
                                <h4 class="title"><a href="{{ url_for('pages.blogDetails') }}">Getting tickets to the big show</a>
                                </h4>
                                <div class="blog-btn">
                                    <a class="rn-btn text-white" href="{{ url_for('pages.blogDetails') }}">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Blog Area  -->

                    <!-- Start Blog Area  -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="blog blog-style--1">
                            <div class="thumbnail">
                                <a href="{{ url_for('pages.blogDetails') }}">
                                    <img class="w-100" src="/static/images/blog/blog-04.jpg" alt="Blog Images" />
                                </a>
                            </div>
                            <div class="content">
                                <p class="blogtype">Development</p>
                                <h4 class="title"><a href="{{ url_for('pages.blogDetails') }}">Getting tickets to the big show</a>
                                </h4>
                                <div class="blog-btn">
                                    <a class="rn-btn text-white" href="{{ url_for('pages.blogDetails') }}">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Blog Area  -->

                    <!-- Start Blog Area  -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="blog blog-style--1">
                            <div class="thumbnail">
                                <a href="{{ url_for('pages.blogDetails') }}">
                                    <img class="w-100" src="/static/images/blog/blog-01.jpg" alt="Blog Images" />
                                </a>
                            </div>
                            <div class="content">
                                <p class="blogtype">Development</p>
                                <h4 class="title"><a href="{{ url_for('pages.blogDetails') }}">Getting tickets to the big show</a>
                                </h4>
                                <div class="blog-btn">
                                    <a class="rn-btn text-white" href="{{ url_for('pages.blogDetails') }}">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Blog Area  -->

                    <!-- Start Blog Area  -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="blog blog-style--1">
                            <div class="thumbnail">
                                <a href="{{ url_for('pages.blogDetails') }}">
                                    <img class="w-100" src="/static/images/blog/blog-02.jpg" alt="Blog Images" />
                                </a>
                            </div>
                            <div class="content">
                                <p class="blogtype">Development</p>
                                <h4 class="title"><a href="{{ url_for('pages.blogDetails') }}">Getting tickets to the big show</a>
                                </h4>
                                <div class="blog-btn">
                                    <a class="rn-btn text-white" href="{{ url_for('pages.blogDetails') }}">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Blog Area  -->
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="rn-pagination text-center mt--60 mt_sm--30">
                            <ul class="page-list">
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li class="active"><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#"><i class="fas fa-angle-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Start blog Area  -->

        <!-- Start Blog Area  -->
        <div class="rn-blog-area rn-section-gap bg_color--5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="section-title section-title--2  text-start mb--20">
                            <h2 class="title">Popular News</h2>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                                suffered alteration.</p>
                        </div>
                    </div>
                </div>
                <div class="row rn-slick-activation rn-slick-dot pb--25" data-slick-options='{
                                "spaceBetween": 15, 
                                "slidesToShow": 3, 
                                "slidesToScroll": 1, 
                                "arrows": false, 
                                "infinite": true,
                                "dots": true
                            }' data-slick-responsive='[
                            {"breakpoint":890, "settings": {"slidesToShow": 3}},
                            {"breakpoint":770, "settings": {"slidesToShow": 2}},
                            {"breakpoint":490, "settings": {"slidesToShow": 1}}
                            ]'>
                    <!-- Start Blog Area  -->
                    <div class="blog blog-style--1">
                        <div class="thumbnail">
                            <a href="{{ url_for('pages.blogDetails') }}">
                                <img class="w-100" src="/static/images/blog/blog-01.jpg" alt="Blog Images" />
                            </a>
                        </div>
                        <div class="content">
                            <p class="blogtype">Development</p>
                            <h4 class="title"><a href="{{ url_for('pages.blogDetails') }}">Getting tickets to the big show</a>
                            </h4>
                            <div class="blog-btn">
                                <a class="rn-btn text-white" href="{{ url_for('pages.blogDetails') }}">Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Blog Area  -->

                    <!-- Start Blog Area  -->
                    <div class="blog blog-style--1">
                        <div class="thumbnail">
                            <a href="{{ url_for('pages.blogDetails') }}">
                                <img class="w-100" src="/static/images/blog/blog-02.jpg" alt="Blog Images" />
                            </a>
                        </div>
                        <div class="content">
                            <p class="blogtype">Development</p>
                            <h4 class="title"><a href="{{ url_for('pages.blogDetails') }}">Getting tickets to the big show</a>
                            </h4>
                            <div class="blog-btn">
                                <a class="rn-btn text-white" href="{{ url_for('pages.blogDetails') }}">Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Blog Area  -->

                    <!-- Start Blog Area  -->
                    <div class="blog blog-style--1">
                        <div class="thumbnail">
                            <a href="{{ url_for('pages.blogDetails') }}">
                                <img class="w-100" src="/static/images/blog/blog-03.jpg" alt="Blog Images" />
                            </a>
                        </div>
                        <div class="content">
                            <p class="blogtype">Development</p>
                            <h4 class="title"><a href="{{ url_for('pages.blogDetails') }}">Getting tickets to the big show</a>
                            </h4>
                            <div class="blog-btn">
                                <a class="rn-btn text-white" href="{{ url_for('pages.blogDetails') }}">Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Blog Area  -->

                    <!-- Start Blog Area  -->
                    <div class="blog blog-style--1">
                        <div class="thumbnail">
                            <a href="{{ url_for('pages.blogDetails') }}">
                                <img class="w-100" src="/static/images/blog/blog-04.jpg" alt="Blog Images" />
                            </a>
                        </div>
                        <div class="content">
                            <p class="blogtype">Development</p>
                            <h4 class="title"><a href="{{ url_for('pages.blogDetails') }}">Getting tickets to the big show</a>
                            </h4>
                            <div class="blog-btn">
                                <a class="rn-btn text-white" href="{{ url_for('pages.blogDetails') }}">Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Blog Area  -->
                </div>
            </div>
        </div>
        <!-- End Blog Area  -->

        <!-- Start Blog Area  -->
        <div class="rn-blog-area rn-section-gap bg_color--1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title section-title--2  text-center mb--20 mb_sm--0 md_sm--0">
                            <h2 class="title">Related Post</h2>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                                suffered alteration.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Start Blog Area  -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="blog blog-style--1">
                            <div class="thumbnail">
                                <a href="{{ url_for('pages.blogDetails') }}">
                                    <img class="w-100" src="/static/images/blog/blog-01.jpg" alt="Blog Images" />
                                </a>
                            </div>
                            <div class="content">
                                <p class="blogtype">Development</p>
                                <h4 class="title"><a href="{{ url_for('pages.blogDetails') }}">Getting tickets to the big show</a>
                                </h4>
                                <div class="blog-btn">
                                    <a class="rn-btn text-white" href="{{ url_for('pages.blogDetails') }}">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Blog Area  -->

                    <!-- Start Blog Area  -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="blog blog-style--1">
                            <div class="thumbnail">
                                <a href="{{ url_for('pages.blogDetails') }}">
                                    <img class="w-100" src="/static/images/blog/blog-02.jpg" alt="Blog Images" />
                                </a>
                            </div>
                            <div class="content">
                                <p class="blogtype">Development</p>
                                <h4 class="title"><a href="{{ url_for('pages.blogDetails') }}">Getting tickets to the big show</a>
                                </h4>
                                <div class="blog-btn">
                                    <a class="rn-btn text-white" href="{{ url_for('pages.blogDetails') }}">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Blog Area  -->

                    <!-- Start Blog Area  -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="blog blog-style--1">
                            <div class="thumbnail">
                                <a href="{{ url_for('pages.blogDetails') }}">
                                    <img class="w-100" src="/static/images/blog/blog-03.jpg" alt="Blog Images" />
                                </a>
                            </div>
                            <div class="content">
                                <p class="blogtype">Development</p>
                                <h4 class="title"><a href="{{ url_for('pages.blogDetails') }}">Getting tickets to the big show</a>
                                </h4>
                                <div class="blog-btn">
                                    <a class="rn-btn text-white" href="{{ url_for('pages.blogDetails') }}">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Blog Area  -->
                </div>
            </div>
        </div>
        <!-- End Blog Area  -->
    </main>

{% endblock content %}
