{% extends './layout/layout.html' %}

{% block content %}
        
    <!-- Start breadcrumb Area  -->
    <div class="rn-page-title-area pt--120 pb--190 bg_image bg_image--7" data-black-overlay="7">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="blog-single-page-title text-center pt--100">
                        <h2 class="title theme-gradient">The best of the Future <br />Could Bebes</h2>
                        <ul class="blog-meta d-flex justify-content-center align-items-center">
                            <li><i data-feather="clock"></i>May 18, 2020</li>
                            <li><i data-feather="user"></i>Fatima</li>
                            <li><i data-feather="message-circle"></i>15 Comments</li>
                            <li><i data-feather="heart"></i>Like</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End breadcrumb Area  -->

    <!-- Start Page Wrapper  -->
    <main class="page-wrapper">

        <!-- Start Blog Details Area  -->
        <div class="rn-blog-details pt--110 pb--70 bg_color--1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="inner-wrapper">
                            <div class="inner">
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority
                                    have suffered alteration in some form, by injected humour, or randomised words
                                    which don't look even slightly believable. If you are going to use a passage of
                                    Lorem Ipsum. You need to be sure there isn't anything embarrassing hidden in the
                                    middle of text. All the Lorem Ipsum generators on the Internet tend toitrrepeat
                                    predefined chunks. </p>
                                <div class="thumbnail">
                                    <img src="/static/images/blog/bl-big-01.jpg" alt="Blog Images">
                                </div>
                                <p class="mt--40">There are many variations of passages of Lorem Ipsum available,
                                    but the majority have suffered alteration in some form, by injected humour, or
                                    randomised words which don't look even slightly believable. If you are going to
                                    use a passage of Lorem Ipsum. You need to be sure there isn't anything
                                    embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the
                                    Internet tend toitrrepeat predefined chunks. </p>
                                <p>Necessary, making this the first true generator on the Internet. It re are many
                                    variations of passages of Lo rem Ipsum available, but the majority have suffered
                                    alteration in some form, by injectedeed eedhumour, or randomised words which
                                    don't look even slightly believable.</p>
                                <blockquote class="rn-blog-quote">Lorem ipsum dolor sit amet, consectetuer
                                    adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
                                    natoque penatibus et magnis dis parturient montes.</blockquote>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority
                                    have suffered alteration in some form, by injected humour, or randomised words
                                    which don't look even slightly believable. If you are going to use a passage of
                                    Lorem Ipsum. You need to be sure there isn't anything embarrassing hidden in the
                                    middle of text. All the Lorem Ipsum generators on the Internet tend toitrrepeat
                                    predefined chunks. Necessary, making this the first true generator on the
                                    Internet. It re are many variations of passages of Lorem Ipsum available, but
                                    the majority have suffered alteration in some form, by injectedeed eedhumour, or
                                    randomised words which don't look even slightly believable.</p>
                                <div class="blog-single-list-wrapper d-flex flex-wrap">
                                    <div class="thumbnail"><img class="w-100"
                                            src="/static/images/blog/blog-single-01.png"
                                            alt="BLog Images"><span>Lorem ipsum dolor sit amet, consectetur
                                            adipiscing elit, sed do</span></div>
                                    <div class="content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua. Quis ipsum
                                            suspendisse ultrices gravida. Risus commodo .</p>
                                        <h4 class="title">Ordered &amp; Unordered Lists.</h4>
                                        <ul class="list-style">
                                            <li>Yet this above sewed flirted opened ouch</li>
                                            <li>Goldfinch realistic sporadic ingenuous</li>
                                            <li>Abominable this abidin far successfully then like piquan</li>
                                            <li>Risus commodo viverra</li>
                                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing</li>
                                        </ul>
                                        <h4 class="title">Ordered &amp; Unordered Lists.</h4>
                                        <ul class="list-style">
                                            <li>Yet this above sewed flirted opened ouch</li>
                                            <li>Goldfinch realistic sporadic ingenuous</li>
                                            <li>Abominable this abidin far successfully then like piquan</li>
                                            <li>Risus commodo viverra</li>
                                        </ul>
                                    </div>
                                </div>
                                <p class="mt--25 mt_sm--5">There are many variations of passages of Lorem Ipsum
                                    available, but the majority have suffered alteration in some form, by injected
                                    humour, or randomised words which don't look even slightly believable. If you
                                    are going to use a passage of Lorem Ipsum. You need to be sure there isn't
                                    anything embarrassing hidden in the middle of text. All the Lorem Ipsum
                                    generators on the Internet tend toitrrepeat predefined chunks. Necessary, making
                                    this the first true generator on the Internet. It re are many variations of
                                    passages of Lorem Ipsum available, but the majority have suffered alteration in
                                    some form, by injectedeed eedhumour, or randomised words which don't look even
                                    slightly believable.</p>
                                <div class="video-wrapper position-relative mb--40">
                                    <div class="thumbnail">
                                        <img src="/static/images/blog/bl-big-01.jpg" alt="Blog Images">
                                    </div>
                                    <a class="video-popup position-top-center play__btn"
                                        href="https://www.youtube.com/watch?v=ZOoVOfieAF8"><span
                                            class="play-icon"></span></a>
                                </div>
                                <p class="mb--0">There are many variations of passages of Lorem Ipsum available, but
                                    the majority have suffered alteration in some form, by injected humour, or
                                    randomised words which don't look even slightly believable. If you are going to
                                    use a passage of Lorem Ipsum. You need to be sure there isn't anything
                                    embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the
                                    Internet tend toitrrepeat predefined chunks. Necessary, making this the first
                                    true generator on the Internet. It re are many variations of passages of Lorem
                                    Ipsum available, but the majority have suffered alteration in some form, by
                                    injectedeed eedhumour, or randomised words which don't look even slightly
                                    believable.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Blog Details Area  -->

        <!-- Start Comment Form  -->
        <div class="blog-comment-form pb--120 bg_color--1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="inner">
                            <h3 class="title mb--40 fontWeight500">Leave a Reply</h3>
                            <form method="POST" action="">
                                {{ form.hidden_tag() }}
                                <div class="row">
                                    <div class="col-lg-6 col-md-12 col-12">
                                        <div class="rnform-group"><input type="text" name="name" placeholder="Name" value="{{ form.name.data or '' }}"></div>
                                        <div class="rnform-group"><input type="email" name="email" placeholder="Email" value="{{ form.email.data or '' }}"></div>
                                        <div class="rnform-group"><input type="text" name="website" placeholder="Website" value="{{ form.website.data or '' }}"></div>
                                    </div>
                                    <div class="col-lg-6 col-md-12 col-12">
                                        <div class="rnform-group">
                                            <textarea name="message" placeholder="Comment">{{ form.message.data or '' }}</textarea>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="blog-submit-btn">
                                            <button class="rn-button-style--2 btn_solid" type="submit" name="submit"><span>SEND MESSAGE</span></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Comment Form  -->

    </main>
    <!-- End Page Wrapper  -->

{% endblock content %}