{% extends './layout/layout.html' %}

{% block content %}

    <!-- Start Page Wrapper  -->
    <main class="page-wrapper">

        <!-- Start Accordion Area  -->
        <div class="rn-accordion-area rn-section-gap bg_color--5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="rn-accordion">
                            <div id="accordion">
                                <!-- Start Single Card  -->
                                <div class="rn-card">
                                    <div class="rn-card-header" id="headingOne">
                                        <a href="#" class="btn" data-bs-toggle="collapse"
                                            data-bs-target="#collapseOne" aria-expanded="true"
                                            aria-controls="collapseOne">Your Business Skills
                                            But Never Stop Improving.
                                        </a>
                                    </div>
                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                        data-bs-parent="#accordion">
                                        <div class="rn-card-body">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                            terry richardson ad squid. 3 wolf moon officia aute, non cupidatat.
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Card  -->

                                <!-- Start Single Card  -->
                                <div class="rn-card">
                                    <div class="rn-card-header" id="headingTwo">
                                        <a href="#" class="btn collapsed" data-bs-toggle="collapse"
                                            data-bs-target="#collapseTwo" aria-expanded="false"
                                            aria-controls="collapseTwo">Tactics That Can Help Your Business Grow.
                                        </a>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                        data-bs-parent="#accordion">
                                        <div class="rn-card-body">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                            terry richardson ad squid. 3 wolf moon officia aute, non cupidatat.
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Card  -->

                                <!-- Start Single Card  -->
                                <div class="rn-card">
                                    <div class="rn-card-header" id="headingThree">
                                        <a href="#" class="btn collapsed" data-bs-toggle="collapse"
                                            data-bs-target="#collapseThree" aria-expanded="false"
                                            aria-controls="collapseThree">The Secret of Successful Business.
                                        </a>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                        data-bs-parent="#accordion">
                                        <div class="rn-card-body">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                            terry richardson ad squid. 3 wolf moon officia aute, non cupidatat.
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Card  -->

                                <!-- Start Single Card  -->
                                <div class="rn-card">
                                    <div class="rn-card-header" id="headingFour">
                                        <a href="#" class="btn collapsed" data-bs-toggle="collapse"
                                            data-bs-target="#collapseFour" aria-expanded="false"
                                            aria-controls="collapseFour">How To Start A Business With Business.
                                        </a>
                                    </div>
                                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                                        data-bs-parent="#accordion">
                                        <div class="rn-card-body">Facilis fugiat hic ipsam iusto laudantium libero
                                            maiores minima molestiae mollitia repellat rerum sunt ullam voluptates?
                                            Perferendis, suscipit.
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Card  -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Accordion Area  -->

        <!-- Start Tab Area  -->
        <div class="rn-tab-area rn-section-gap bg_color--1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="nav nav-tabs tab-style--1" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="mainskill" data-bs-toggle="tab"
                                    data-bs-target="#rn-mainskill" role="tab" aria-controls="mainskill"
                                    aria-selected="true">Main skills</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="awards" data-bs-toggle="tab" data-bs-target="#rn-awards"
                                    role="tab" aria-controls="awards" aria-selected="false">Awards</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="experience" data-bs-toggle="tab"
                                    data-bs-target="#rn-experience" role="tab" aria-controls="experience"
                                    aria-selected="false">Experience</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="education" data-bs-toggle="tab"
                                    data-bs-target="#rn-education" role="tab" aria-controls="education"
                                    aria-selected="false">Education & Certification</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="rn-mainskill" role="tabpanel"
                                aria-labelledby="mainskill">
                                <div class="single-tab-content">
                                    <ul>
                                        <li><a href="{{ url_for('service.service') }}">User experience design <span> -
                                                    UI/UX</span></a>Delight the user and make it work.</li>
                                        <li><a href="{{ url_for('service.service') }}">Web and user interface design<span> -
                                                    Development</span></a>Websites, web experiences, ...</li>
                                        <li><a href="{{ url_for('service.service') }}">Interaction design <span> - Animation</span></a>I
                                            like to move it move it.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="rn-awards" role="tabpanel" aria-labelledby="awards">
                                <div class="single-tab-content">
                                    <ul>
                                        <li><a href="{{ url_for('service.service') }}">Awwwards.com <span>- Winner</span></a> 2019 -
                                            2020
                                        </li>
                                        <li><a href="{{ url_for('service.service') }}">CSS Design Awards <span>- Winner</span></a> 2017
                                            -
                                            2018</li>
                                        <li><a href="{{ url_for('service.service') }}">Design nominees <span>- site of the
                                                    day</span></a>
                                            2013- 2014</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="rn-experience" role="tabpanel"
                                aria-labelledby="experience">
                                <div class="single-tab-content">
                                    <ul>
                                        <li><a href="/service">Sr. Front-end Engineer<span> - Google</span></a> 2018
                                            - Current</li>
                                        <li><a href="/service">Front-end Engineer<span> - Microsoft</span></a> 2017
                                            - 2018</li>
                                        <li><a href="/service">Software Engineer<span> - Alibaba </span></a> 2013-
                                            2014</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="rn-education" role="tabpanel"
                                aria-labelledby="education">
                                <div class="single-tab-content">
                                    <ul>
                                        <li><a href="/service">BSc In CSE<span> - ABC University, Los Angeles,
                                                    CA</span></a> 2010</li>
                                        <li><a href="/service">Diploma in Computer Science<span> - Gamma Technical
                                                    Institute</span></a> 2009</li>
                                        <li><a href="/service">Graphic Designer<span> - ABC Institute, Los Angeles,
                                                    CA</span></a> 2007</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Tab Area  -->

        <!-- Start Tab Area  -->
        <div class="rn-tab-area rn-section-gap bg_color--5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="nav nav-tabs tab-style--1" id="myTab2" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="history" data-bs-toggle="tab"
                                    data-bs-target="#rn-history" role="tab" aria-controls="history"
                                    aria-selected="true">Our history</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="mission" data-bs-toggle="tab" data-bs-target="#rn-mission"
                                    role="tab" aria-controls="mission" aria-selected="false">Our mission</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="support" data-bs-toggle="tab" data-bs-target="#rn-support"
                                    role="tab" aria-controls="support" aria-selected="false">Friendly Support</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent2">
                            <div class="tab-pane fade show active" id="rn-history" role="tabpanel"
                                aria-labelledby="history">
                                <div class="single-tab-content">
                                    <p>
                                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam laudantium
                                        neque cumque, magni, modi aut a dolores deleniti recusandae dolor quod
                                        aliquid aperiam. Delectus voluptate quam deserunt expedita temporibus ab!
                                    </p>
                                    <ul class="list-style--1">
                                        <li><i data-feather="check"></i>The Philosophy Of
                                            business analytics</li>
                                        <li><i data-feather="check"></i>Fast-Track Your business
                                        </li>
                                        <li><i data-feather="check"></i>Lies And Damn Lies About
                                            business</li>
                                        <li><i data-feather="check"></i>The Ultimate Deal On
                                            business</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="rn-mission" role="tabpanel" aria-labelledby="mission">
                                <div class="single-tab-content">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque ab aliquid,
                                        atque enim, vero nobis quam beatae nesciunt aliquam molestias, optio hic
                                        laborum esse. Deserunt architecto officiis laudantium corporis voluptatem.
                                    </p>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque ab aliquid,
                                        atque enim, vero nobis quam beatae nesciunt aliquam molestias, optio hic
                                        laborum esse. Deserunt architecto officiis laudantium corporis voluptatem.
                                    </p>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque ab aliquid,
                                        atque enim, vero nobis quam beatae nesciunt aliquam molestias, optio hic
                                        laborum esse. Deserunt architecto officiis laudantium corporis voluptatem.
                                    </p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="rn-support" role="tabpanel" aria-labelledby="support">
                                <div class="single-tab-content">
                                    <p>Popy ipsum dolor sit amet consectetur adipisicing elit. Neque ab aliquid,
                                        atque enim, vero nobis quam beatae nesciunt aliquam molestias, optio hic
                                        laborum esse. Deserunt architecto officiis laudantium corporis voluptatem.
                                    </p>
                                    <p>Popy ipsum dolor sit amet consectetur adipisicing elit. Neque ab aliquid,
                                        atque enim, vero nobis quam beatae nesciunt aliquam molestias, optio hic
                                        laborum esse. Deserunt architecto officiis laudantium corporis voluptatem.
                                    </p>
                                    <p>Popy ipsum dolor sit amet consectetur adipisicing elit. Neque ab aliquid,
                                        atque enim, vero nobis quam beatae nesciunt aliquam molestias, optio hic
                                        laborum esse. Deserunt architecto officiis laudantium corporis voluptatem.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Tab Area  -->
    </main>
    <!-- End Page Wrapper  -->

{% endblock content %}