
{% extends './layout/layout.html' %}

{% block content %}

    <main class="page-wrapper">

        <!-- Start Brand Area -->
        <div class="rn-brand-area bg_color--1 rn-section-gap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="brand-style">
                            <li>
                                <img src="/static/images/brand/brand-01.png" alt="Logo Images" />
                            </li>
                            <li>
                                <img src="/static/images/brand/brand-02.png" alt="Logo Images" />
                            </li>
                            <li>
                                <img src="/static/images/brand/brand-03.png" alt="Logo Images" />
                            </li>
                            <li>
                                <img src="/static/images/brand/brand-04.png" alt="Logo Images" />
                            </li>
                            <li>
                                <img src="/static/images/brand/brand-05.png" alt="Logo Images" />
                            </li>
                            <li>
                                <img src="/static/images/brand/brand-06.png" alt="Logo Images" />
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Brand Area -->

        <!-- Start Brand Area -->
        <div class="rn-brand-area rn-section-gap bg_color--5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="brand-style-2">
                            <li>
                                <img src="/static/images/brand/brand-01.png" alt="Logo Images" />
                            </li>
                            <li>
                                <img src="/static/images/brand/brand-02.png" alt="Logo Images" />
                            </li>
                            <li>
                                <img src="/static/images/brand/brand-03.png" alt="Logo Images" />
                            </li>
                            <li>
                                <img src="/static/images/brand/brand-04.png" alt="Logo Images" />
                            </li>
                            <li>
                                <img src="/static/images/brand/brand-05.png" alt="Logo Images" />
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Brand Area -->

        <!-- Start Brand Area -->
        <div class="rn-brand-area brand-separation">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="brand-style-2">
                            <li>
                                <img src="/static/images/brand/brand-01.png" alt="Logo Images" />
                            </li>
                            <li>
                                <img src="/static/images/brand/brand-02.png" alt="Logo Images" />
                            </li>
                            <li>
                                <img src="/static/images/brand/brand-03.png" alt="Logo Images" />
                            </li>
                            <li>
                                <img src="/static/images/brand/brand-04.png" alt="Logo Images" />
                            </li>
                            <li>
                                <img src="/static/images/brand/brand-05.png" alt="Logo Images" />
                            </li>
                            <li>
                                <img src="/static/images/brand/brand-06.png" alt="Logo Images" />
                            </li>
                            <li>
                                <img src="/static/images/brand/brand-02.png" alt="Logo Images" />
                            </li>
                            <li>
                                <img src="/static/images/brand/brand-03.png" alt="Logo Images" />
                            </li>
                            <li>
                                <img src="/static/images/brand/brand-04.png" alt="Logo Images" />
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Brand Area -->

    </main>

{% endblock content %}