{% extends './layout/layout.html' %}

{% block content %}

    <!-- Start Page Wrapper  -->
    <main class="page-wrapper">
        <!-- Start Button Area  -->
        <div class="rn-button-area rn-section-gap bg_color--1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="button-group">
                            <a class="rn-button-style--2 btn_solid" href="#">Button Solid</a>
                            <a class="rn-button-style--2 btn_border" href="#">Button Border</a>
                            <a class="rn-button-style--2 btn_border btn_border--dark" href="#">Button Border</a>
                        </div>
                        <div class="button-group mt--30">
                            <a class="rn-button-style--2 btn_solid btn-size-md" href="#">Button Solid</a>
                            <a class="rn-button-style--2 btn_border btn-size-md" href="#">Button Border</a>
                            <a class="rn-button-style--2 btn_border btn_border--dark btn-size-md" href="#">Button
                                Border</a>
                        </div>
                        <div class="button-group mt--30">
                            <a class="rn-button-style--2 btn_solid btn-size-sm" href="#">Button Solid</a>
                            <a class="rn-button-style--2 btn_border btn-size-sm" href="#">Button Border</a>
                            <a class="rn-button-style--2 btn_border btn_border--dark btn-size-sm" href="#">Button
                                Border</a>
                        </div>
                        <div class="button-group mt--30">
                            <a class="btn-transparent rn-btn-dark" href="#"><span class="text">View All
                                    News</span></a>
                            <a class="btn-transparent rn-btn-dark" href="#"><span class="text">View More</span></a>
                            <a class="btn-transparent rn-btn-dark" href="#"><span class="text">Read More</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Button Area  -->
    </main>
    <!-- End Page Wrapper  -->

{% endblock content %}
