{% extends './layout/layout.html' %}

{% block content %}

    <main class="page-wrapper">

        <!-- Start countreupup Area  -->
        <div class="rn-countreupup-area rn-section-gap bg_color--1">
            <div class="container">
                <div class="row">
                    <!-- Start Single Counterup  -->
                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                        <div class="rn-counterup counterup_style--1">
                            <h5 class="counter count">992</h5>
                            <p class="description">The standard chunk of Lorem Ipsum used since the 1500s is
                                reproduced below for those.</p>
                        </div>
                    </div>
                    <!-- Start Single Counterup  -->

                    <!-- Start Single Counterup  -->
                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                        <div class="rn-counterup counterup_style--1">
                            <h5 class="counter count">575</h5>
                            <p class="description">The standard chunk of Lorem Ipsum used since the 1500s is
                                reproduced below for those.</p>
                        </div>
                    </div>
                    <!-- Start Single Counterup  -->

                    <!-- Start Single Counterup  -->
                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                        <div class="rn-counterup counterup_style--1">
                            <h5 class="counter count">69</h5>
                            <p class="description">The standard chunk of Lorem Ipsum used since the 1500s is
                                reproduced below for those.</p>
                        </div>
                    </div>
                    <!-- Start Single Counterup  -->
                </div>
            </div>
        </div>
        <!-- Start countreupup Area  -->

        <!-- Start countreupup Area  -->
        <div class="rn-countreupup-area rn-section-gap bg_color--5">
            <div class="container">
                <div class="row">
                    <!-- Start Single Counterup  -->
                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                        <div class="rn-counterup counterup_style--1 text-start">
                            <h5 class="counter count">992</h5>
                            <p class="description">The standard chunk of Lorem Ipsum used since the 1500s is
                                reproduced below for those.</p>
                        </div>
                    </div>
                    <!-- Start Single Counterup  -->

                    <!-- Start Single Counterup  -->
                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                        <div class="rn-counterup counterup_style--1 text-start">
                            <h5 class="counter count">575</h5>
                            <p class="description">The standard chunk of Lorem Ipsum used since the 1500s is
                                reproduced below for those.</p>
                        </div>
                    </div>
                    <!-- Start Single Counterup  -->

                    <!-- Start Single Counterup  -->
                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                        <div class="rn-counterup counterup_style--1 text-start">
                            <h5 class="counter count">69</h5>
                            <p class="description">The standard chunk of Lorem Ipsum used since the 1500s is
                                reproduced below for those.</p>
                        </div>
                    </div>
                    <!-- Start Single Counterup  -->
                </div>
            </div>
        </div>
        <!-- Start countreupup Area  -->

        <!-- Start countreupup Area  -->
        <div class="rn-countreupup-area rn-section-gap bg_color--1">
            <div class="container">
                <div class="row">
                    <!-- Start Single Counterup  -->
                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                        <div class="rn-counterup counterup_style--1 text-end">
                            <h5 class="counter count">992</h5>
                            <p class="description">The standard chunk of Lorem Ipsum used since the 1500s is
                                reproduced below for those.</p>
                        </div>
                    </div>
                    <!-- Start Single Counterup  -->

                    <!-- Start Single Counterup  -->
                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                        <div class="rn-counterup counterup_style--1 text-end">
                            <h5 class="counter count">575</h5>
                            <p class="description">The standard chunk of Lorem Ipsum used since the 1500s is
                                reproduced below for those.</p>
                        </div>
                    </div>
                    <!-- Start Single Counterup  -->

                    <!-- Start Single Counterup  -->
                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                        <div class="rn-counterup counterup_style--1 text-end">
                            <h5 class="counter count">69</h5>
                            <p class="description">The standard chunk of Lorem Ipsum used since the 1500s is
                                reproduced below for those.</p>
                        </div>
                    </div>
                    <!-- Start Single Counterup  -->
                </div>
            </div>
        </div>
        <!-- Start countreupup Area  -->

        <!-- Start countreupup Area  -->
        <div class="rn-countreupup-area rn-section-gap bg_image bg_image--27 bg-position-fixed"
            data-black-overlay="6">
            <div class="container">
                <div class="row">
                    <!-- Start Single Counterup  -->
                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                        <div class="rn-counterup counterup_style--1 text-white">
                            <h5 class="counter count">992</h5>
                            <p class="description">The standard chunk of Lorem Ipsum used since the 1500s is
                                reproduced below for those.</p>
                        </div>
                    </div>
                    <!-- Start Single Counterup  -->

                    <!-- Start Single Counterup  -->
                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                        <div class="rn-counterup counterup_style--1 text-white">
                            <h5 class="counter count">575</h5>
                            <p class="description">The standard chunk of Lorem Ipsum used since the 1500s is
                                reproduced below for those.</p>
                        </div>
                    </div>
                    <!-- Start Single Counterup  -->

                    <!-- Start Single Counterup  -->
                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                        <div class="rn-counterup counterup_style--1 text-white">
                            <h5 class="counter count">69</h5>
                            <p class="description">The standard chunk of Lorem Ipsum used since the 1500s is
                                reproduced below for those.</p>
                        </div>
                    </div>
                    <!-- Start Single Counterup  -->
                </div>
            </div>
        </div>
        <!-- Start countreupup Area  -->

        <!-- Start Brand Area -->
        <div class="rn-brand-area brand-separation bg_color--5 rn-section-gapBottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="brand-style-2">
                            <li>
                                <img src="/static/images/brand/brand-01.png" alt="Logo Images" />
                            </li>
                            <li>
                                <img src="/static/images/brand/brand-02.png" alt="Logo Images" />
                            </li>
                            <li>
                                <img src="/static/images/brand/brand-03.png" alt="Logo Images" />
                            </li>
                            <li>
                                <img src="/static/images/brand/brand-04.png" alt="Logo Images" />
                            </li>
                            <li>
                                <img src="/static/images/brand/brand-05.png" alt="Logo Images" />
                            </li>
                            <li>
                                <img src="/static/images/brand/brand-06.png" alt="Logo Images" />
                            </li>
                            <li>
                                <img src="/static/images/brand/brand-02.png" alt="Logo Images" />
                            </li>
                            <li>
                                <img src="/static/images/brand/brand-03.png" alt="Logo Images" />
                            </li>
                            <li>
                                <img src="/static/images/brand/brand-04.png" alt="Logo Images" />
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Brand Area -->
    </main>

{% endblock content %}
