{% extends './layout/layout.html' %}

{% block content %}

    <!-- Start Page Wrapper  -->
    <main class="page-wrapper">
        <!-- Start List Style  -->
        <div class="rn-list-style rn-section-gap bg_color--1">
            <div class="container">
                <div class="row">

                    <!-- Start Single List Style  -->
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="list-style-inner">
                            <h3 class="fontWeight500">List Style Default</h3>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto, totam.</p>
                            <ul class="list-style--1">
                                <li><i data-feather="check"></i>The Philosophy Of
                                    business analytics</li>
                                <li><i data-feather="check"></i>Fast-Track Your business
                                </li>
                                <li><i data-feather="check"></i>Lies And Damn Lies About
                                    business</li>
                                <li><i data-feather="check"></i>The Ultimate Deal On
                                    business</li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Single List Style  -->

                    <!-- Start Single List Style  -->
                    <div class="col-lg-4 col-md-6 col-12 mt_sm--30">
                        <div class="list-style-inner">
                            <h3 class="fontWeight500">List Style Default</h3>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto, totam.</p>
                            <ul class="list-style--1">
                                <li><i data-feather="check"></i>The Philosophy Of
                                    business analytics</li>
                                <li><i data-feather="check"></i>Fast-Track Your business
                                </li>
                                <li><i data-feather="check"></i>Lies And Damn Lies About
                                    business</li>
                                <li><i data-feather="check"></i>The Ultimate Deal On
                                    business</li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Single List Style  -->

                    <!-- Start Single List Style  -->
                    <div class="col-lg-4 col-md-6 col-12 mt_sm--30 mt_md--30">
                        <div class="list-style-inner">
                            <h3 class="fontWeight500">List Style Default</h3>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto, totam.</p>
                            <ul class="list-style--1">
                                <li><i data-feather="check"></i>The Philosophy Of
                                    business analytics</li>
                                <li><i data-feather="check"></i>Fast-Track Your business
                                </li>
                                <li><i data-feather="check"></i>Lies And Damn Lies About
                                    business</li>
                                <li><i data-feather="check"></i>The Ultimate Deal On
                                    business</li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Single List Style  -->
                </div>
            </div>
        </div>
        <!-- End List Style  -->
    </main>
    <!-- End Page Wrapper  -->

{% endblock content %}
