{% extends './layout/layout.html' %}

{% block content %}

    <main class="page-wrapper">

        <!-- Start team Area  -->
        <div class="rn-team-area rn-section-gap bg_color--1">
            <div class="container">
                <div class="row mt_dec--30">
                    <!-- Start Single Team Area  -->
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="team">
                            <div class="thumbnail">
                                <img src="/static/images/team/team-01.jpg" alt="Team Images" />
                            </div>
                            <div class="content">
                                <h4 class="title">Jone Due</h4>
                                <p class="designation">Sr. Web Developer</p>
                            </div>
                            <ul class="social-icon">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram-square"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Single Team Area  -->

                    <!-- Start Single Team Area  -->
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="team">
                            <div class="thumbnail">
                                <img src="/static/images/team/team-02.jpg" alt="Team Images" />
                            </div>
                            <div class="content">
                                <h4 class="title">Jone Due</h4>
                                <p class="designation">Sr. Web Developer</p>
                            </div>
                            <ul class="social-icon">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram-square"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Single Team Area  -->

                    <!-- Start Single Team Area  -->
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="team">
                            <div class="thumbnail">
                                <img src="/static/images/team/team-03.jpg" alt="Team Images" />
                            </div>
                            <div class="content">
                                <h4 class="title">Jone Due</h4>
                                <p class="designation">Sr. Web Developer</p>
                            </div>
                            <ul class="social-icon">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram-square"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Single Team Area  -->
                </div>
            </div>
        </div>
        <!-- Start team Area  -->

        <!-- Start team Area  -->
        <div class="rn-team-area rn-section-gap bg_color--5">
            <div class="container">
                <div class="row mt_dec--30">
                    <!-- Start Single Team Area  -->
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="team-static">
                            <div class="thumbnail">
                                <img src="/static/images/team/team-01.jpg" alt="Blog Images" />
                            </div>
                            <div class="inner">
                                <div class="content">
                                    <h4 class="title">Jone Jan</h4>
                                    <p class="designation">Sr. Web Developer</p>
                                </div>
                                <ul class="social-transparent liststyle d-flex">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram-square"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Team Area  -->
                    <!-- Start Single Team Area  -->
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="team-static">
                            <div class="thumbnail">
                                <img src="/static/images/team/team-03.jpg" alt="Blog Images" />
                            </div>
                            <div class="inner">
                                <div class="content">
                                    <h4 class="title">Jone Jan</h4>
                                    <p class="designation">Sr. Web Developer</p>
                                </div>
                                <ul class="social-transparent liststyle d-flex">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram-square"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Team Area  -->

                    <!-- Start Single Team Area  -->
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="team-static">
                            <div class="thumbnail">
                                <img src="/static/images/team/team-05.jpg" alt="Blog Images" />
                            </div>
                            <div class="inner">
                                <div class="content">
                                    <h4 class="title">Jone Jan</h4>
                                    <p class="designation">Sr. Web Developer</p>
                                </div>
                                <ul class="social-transparent liststyle d-flex">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram-square"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Team Area  -->

                    <!-- Start Single Team Area  -->
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="team-static">
                            <div class="thumbnail">
                                <img src="/static/images/team/team-06.jpg" alt="Blog Images" />
                            </div>
                            <div class="inner">
                                <div class="content">
                                    <h4 class="title">Jone Jan</h4>
                                    <p class="designation">Sr. Web Developer</p>
                                </div>
                                <ul class="social-transparent liststyle d-flex">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram-square"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Team Area  -->

                </div>
            </div>
        </div>
        <!-- Start team Area  -->

        <!-- Start team Area  -->
        <div class="rn-team-area rn-section-gap bg_color--1">
            <div class="container">
                <div class="row mt_dec--30">
                    <!-- Start Single Team Area  -->
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="team team-style--bottom">
                            <div class="thumbnail">
                                <img src="/static/images/team/team-07.jpg" alt="Team Images" />
                            </div>
                            <div class="content">
                                <h4 class="title">Jone Due</h4>
                                <p class="designation">Sr. Web Developer</p>
                            </div>
                            <ul class="social-icon">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram-square"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Single Team Area  -->
                    <!-- Start Single Team Area  -->
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="team team-style--bottom">
                            <div class="thumbnail">
                                <img src="/static/images/team/team-06.jpg" alt="Team Images" />
                            </div>
                            <div class="content">
                                <h4 class="title">Jone Due</h4>
                                <p class="designation">Sr. Web Developer</p>
                            </div>
                            <ul class="social-icon">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram-square"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Single Team Area  -->
                    <!-- Start Single Team Area  -->
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="team team-style--bottom">
                            <div class="thumbnail">
                                <img src="/static/images/team/team-05.jpg" alt="Team Images" />
                            </div>
                            <div class="content">
                                <h4 class="title">Jone Due</h4>
                                <p class="designation">Sr. Web Developer</p>
                            </div>
                            <ul class="social-icon">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram-square"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Single Team Area  -->

                </div>
            </div>
        </div>
        <!-- Start team Area  -->

    </main>

{% endblock content %}