{% extends './layout/layout.html' %}

{% block content %}

    <!-- Start Page Wrapper  -->
    <main class="page-wrapper">

        <!-- Start Video Popup Area  -->
        <div class="rn-video-popup-area rn-section-gap bg_color--1 line-separator">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="thumbnail position-relative">
                            <img class="w-100" src="/static/images/blog/bl-big-01.jpg" alt="About Images">
                            <a class="video-popup position-top-center theme-color play__btn"
                                href="https://www.youtube.com/watch?v=ctsT5Y-InqE&ab_channel=Pixcels-Themes"><span
                                    class="play-icon"></span></a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Video Popup Area  -->

        <!-- Start Video Popup Area  -->
        <div class="rn-video-popup-area rn-section-gap bg_color--1 line-separator">
            <div class="container">
                <div class="row">
                    <!-- Start Single Video Button  -->
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="thumbnail position-relative">
                            <img class="w-100" src="/static/images/portfolio/portfolio-big-02.jpg"
                                alt="About Images">
                            <a class="video-popup position-top-center play__btn"
                                href="https://www.youtube.com/watch?v=ctsT5Y-InqE&ab_channel=Pixcels-Themes"><span
                                    class="play-icon"></span></a>
                        </div>
                    </div>
                    <!-- End Single Video Button  -->

                    <!-- Start Single Video Button  -->
                    <div class="col-lg-6 col-md-6 col-12 mt_sm--30">
                        <div class="thumbnail position-relative">
                            <img class="w-100" src="/static/images/portfolio/portfolio-big-02.jpg"
                                alt="About Images">
                            <a class="video-popup position-top-center black-color play__btn"
                                href="https://www.youtube.com/watch?v=ctsT5Y-InqE&ab_channel=Pixcels-Themes"><span
                                    class="play-icon"></span></a>
                        </div>
                    </div>
                    <!-- End Single Video Button  -->

                </div>
            </div>
        </div>
        <!-- End Video Popup Area  -->

        <!-- Start Video Popup Area  -->
        <div class="rn-video-popup-area rn-section-gap bg_color--1">
            <div class="container">
                <div class="row">
                    <!-- Start Single Video Button  -->
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="thumbnail position-relative">
                            <img class="w-100" src="/static/images/portfolio/portfolio-big-01.jpg"
                                alt="About Images">
                            <a class="video-popup position-top-center play__btn size-medium"
                                href="https://www.youtube.com/watch?v=ctsT5Y-InqE&ab_channel=Pixcels-Themes"><span
                                    class="play-icon"></span></a>
                        </div>
                    </div>
                    <!-- End Single Video Button  -->

                    <!-- Start Single Video Button  -->
                    <div class="col-lg-4 col-md-6 col-12 mt_sm--30">
                        <div class="thumbnail position-relative">
                            <img class="w-100" src="/static/images/portfolio/portfolio-big-02.jpg"
                                alt="About Images">
                            <a class="video-popup position-top-center black-color play__btn size-medium"
                                href="https://www.youtube.com/watch?v=ctsT5Y-InqE&ab_channel=Pixcels-Themes"><span
                                    class="play-icon"></span></a>
                        </div>
                    </div>
                    <!-- End Single Video Button  -->

                    <!-- Start Single Video Button  -->
                    <div class="col-lg-4 col-md-6 col-12 mt_sm--30 mt_md--30">
                        <div class="thumbnail position-relative">
                            <img class="w-100" src="/static/images/portfolio/portfolio-big-03.jpg"
                                alt="About Images">
                            <a class="video-popup position-top-center black-color play__btn size-medium"
                                href="https://www.youtube.com/watch?v=ctsT5Y-InqE&ab_channel=Pixcels-Themes"><span
                                    class="play-icon"></span></a>
                        </div>
                    </div>
                    <!-- End Single Video Button  -->

                </div>
            </div>
        </div>
        <!-- End Video Popup Area  -->

    </main>
    <!-- End Page Wrapper  -->

{% endblock content %}