<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ headTitle }} || Creative Agency Bootstrap5 Template</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico">

    <!-- CSS -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/vendor/fontawesome.css">
    <link rel="stylesheet" href="/static/css/vendor/lightbox.css">
    <link rel="stylesheet" href="/static/css/plugins/plugins.css">
    <link rel="stylesheet" href="/static/css/style.css">

</head>