    <!-- JS -->
    <!-- Modernizer JS -->
    <script src="/static/js/vendor/modernizr.min.js"></script>
    <!-- jQuery JS -->
    <script src="/static/js/vendor/jquery.js"></script>
    <!-- Bootstrap JS -->
    <script src="/static/js/vendor/bootstrap.min.js"></script>
    <script src="/static/js/vendor/stellar.js"></script>
    <script src="/static/js/vendor/particles.js"></script>
    <script src="/static/js/vendor/masonry.js"></script>
    <script src="/static/js/vendor/stickysidebar.js"></script>
    <script src="/static/js/plugins/plugins.js"></script>
    <script src="/static/js/vendor/js.cookie.js"></script>
    <script src="/static/js/vendor/jquery.style.switcher.js"></script>
    <script src="/static/js/vendor/jquery-one-page-nav.js"></script>
    <!-- Main JS -->
    <script src="/static/js/main.js"></script>
    {{ script | default('') | safe }}